<p>DZOUKOU KENGNE Raoul is the eldest of a family of four children and was born in Yaoundé
  in the central region, a mother teacher and a father IT / Entrepreneur.
  Professional and hardworking, Raoul is a very humble person who enjoys work. He pulls his
  values of his parents, who for him are models and his main motivation in
  everyday life.</p>
<p> He completed his primary studies at the bilingual
  school group Les Bertillets where he obtained his Primary school certificate in 2008. Influenced by reasons beyond his
  control, he completed his secondary studies in several establishments, namely the Jean Tabi college (6th to 4th) where
  he obtained his Brevet d'études secondary in fourth grade. He then entered the bilingual high school of Elig-Essono in
  the second class and the high school of Mballa II for the first and final classes, where he obtained his baccalaureate
  with honors. In 2013, by his quality of hardworking student and determined to pursue his dream of becoming an
  engineer, he was admitted to the competitive examination of the Ecole Nationale Supérieure Polytechnique de Yaoundé.
  Brilliant, he left school exactly five years later with the title of Computer Design Engineer. Without hesitation and
  above all with a lot of convictions, he made the decision to embark on the world of entrepreneurship. </p> <p> As a
  corollary with his objectives to familiarize himself with the professional world and to strengthen his training
  through implementing his practical skills on real projects, Raoul never tired of doing multiple internships in various
  companies: </p>
<ul class='ml-2'>
  <li> In 2017, he completed a 2-month academic internship at <strong> UFI Payment Solutions </strong>, a company that
    provides IT solutions for the transfer of money on electronic payment terminals,
  </li>
  <li> From February in May 2018, he completed a professional internship at <strong> SOCIETE GENERALE CAMEROUN </strong>,
    where he acted as interim project manager during the period from June to July 2018,
  </li>
  <li> In September 2018, he joined the creation team of the young IT services company Upgrade Group (currently known as
    <strong> GOHZE </strong>) where he currently holds the positions of <strong> Chief Financial Officer </strong> and
    <strong> Project Manager </strong>.
  </li>
</ul> <p> His personal values help to make him a very methodical person in his work and his experience at GOHZE is
  rather pleasant in that he maintains good relations with his collaborators. Raoul's professional life is much more
  focused on activities within the GOHZE company, where he is responsible for carrying out collaboration meetings,
  defining the tasks to be carried out on the projects under his charge, ensuring the effective completion of planned
  tasks on time, financial management, planning of the company's budget, management and supervision of trainees in his
  charge. Young single, he enjoys his extra-professional life around series, video games, cartoons and playing
  football. </p>
