@mixin gap-items-x($size: 8px) {
  > * {
    margin-left: $size;
    margin-right: $size;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

@mixin gap-items-y($size: 8px) {
  > * {
    margin-top: $size;
    margin-bottom: $size;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

@mixin no-outline() {
  outline: none;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
