<script setup></script>

<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="68"
      height="50.151"
      viewBox="0 0 68 50.151"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M68,68.667v38.817a5.673,5.673,0,0,1-5.667,5.667H5.667A5.673,5.673,0,0,1,0,107.483v-17a1.133,1.133,0,0,1,2.267,0v17a3.4,3.4,0,0,0,3.4,3.4H62.333a3.4,3.4,0,0,0,3.4-3.4V68.667a3.4,3.4,0,0,0-3.4-3.4H5.667a3.4,3.4,0,0,0-3.4,3.4V73.2H60.35a1.134,1.134,0,0,1,0,2.267H2.267v7.367H60.35a1.133,1.133,0,1,1,0,2.267H1.133A1.133,1.133,0,0,1,0,83.967v-15.3A5.673,5.673,0,0,1,5.667,63H62.333A5.673,5.673,0,0,1,68,68.667ZM58.933,98.133a3.687,3.687,0,0,0-5.684-3.091,5.95,5.95,0,1,1-1.541-1.687,5.949,5.949,0,1,1,3.542,10.728,1.133,1.133,0,1,1,0-2.267,3.687,3.687,0,0,0,3.683-3.683Zm-7.083,0a3.683,3.683,0,1,0-3.683,3.683A3.683,3.683,0,0,0,51.85,98.133ZM10.342,95.725h9.492a1.133,1.133,0,1,0,0-2.267H10.342a1.133,1.133,0,1,0,0,2.267Zm0,7.083h9.492a1.133,1.133,0,1,0,0-2.267H10.342a1.133,1.133,0,0,0,0,2.267Z"
         transform="translate(0 -63)" />
   </svg>
</template>
