<script setup></script>

<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="67.998"
      height="68.007"
      viewBox="0 0 67.998 68.007"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M84.339,281.541H57.068a1,1,0,1,0,0,1.992H84.339a1,1,0,0,0,0-1.992Z"
         transform="translate(-48.626 -244.147)" />
      <path
         fill="currentColor"
         d="M84.339,328.871H57.068a1,1,0,0,0,0,1.992H84.339a1,1,0,0,0,0-1.992Z"
         transform="translate(-48.626 -285.19)" />
      <path
         fill="currentColor"
         d="M70.7,376.2H57.068a1,1,0,1,0,0,1.992H70.7a1,1,0,1,0,0-1.992Z"
         transform="translate(-48.626 -326.234)" />
      <path
         fill="currentColor"
         d="M281.656,186.88H254.385a1,1,0,0,0,0,1.992h27.271a1,1,0,0,0,0-1.992Z"
         transform="translate(-219.736 -162.059)" />
      <path
         fill="currentColor"
         d="M370.68,234.21H357.045a1,1,0,0,0,0,1.992H370.68a1,1,0,0,0,0-1.992Z"
         transform="translate(-308.76 -203.102)" />
      <path
         fill="currentColor"
         d="M39.946,44.261H59.87a1,1,0,1,0,0-1.992H39.946a1,1,0,0,0,0,1.992Z"
         transform="translate(-33.779 -36.655)" />
      <path
         fill="currentColor"
         d="M39.946,81.759h9.962a1,1,0,0,0,0-1.992H39.946a1,1,0,1,0,0,1.992Z"
         transform="translate(-33.779 -69.172)" />
      <path
         fill="currentColor"
         d="M37.739,225.624H6.444a6.437,6.437,0,0,0-6.429,6.429v16.164a6.437,6.437,0,0,0,6.429,6.429h.225L5.382,261.8a1.584,1.584,0,0,0,2.649,1.429l8.815-8.368a.761.761,0,0,1,.527-.21H37.739a6.437,6.437,0,0,0,6.429-6.429V232.053a6.436,6.436,0,0,0-6.429-6.429Zm4.437,22.593a4.442,4.442,0,0,1-4.437,4.437H17.372a2.746,2.746,0,0,0-1.9.757L7.561,260.92l1.118-6.206a1.751,1.751,0,0,0-1.723-2.061H6.444a4.442,4.442,0,0,1-4.437-4.437V232.053a4.442,4.442,0,0,1,4.437-4.437H37.739a4.442,4.442,0,0,1,4.437,4.437Z"
         transform="translate(-0.015 -195.657)" />
      <path
         fill="currentColor"
         d="M4.258,17.72h7.43a.043.043,0,0,1,.037.021L14.9,23.22a1.827,1.827,0,0,0,3.162,0l3.173-5.479a.043.043,0,0,1,.037-.021H28.7a3.861,3.861,0,0,0,3.856-3.856V3.856A3.861,3.861,0,0,0,28.7,0H4.258A3.861,3.861,0,0,0,.4,3.856v.421a1,1,0,0,0,1.992,0V3.856A1.866,1.866,0,0,1,4.258,1.992H28.7a1.866,1.866,0,0,1,1.864,1.864V13.863A1.866,1.866,0,0,1,28.7,15.727H21.27a2.042,2.042,0,0,0-1.761,1.015L16.48,21.974l-3.03-5.232a2.041,2.041,0,0,0-1.761-1.015H4.258a1.866,1.866,0,0,1-1.864-1.864V8.934a1,1,0,1,0-1.992,0v4.929A3.861,3.861,0,0,0,4.258,17.72Z"
         transform="translate(-0.351)" />
      <path
         fill="currentColor"
         d="M248.723,140.754H220.934a5.827,5.827,0,0,0-5.821,5.821v1.791a1,1,0,1,0,1.992,0v-1.791a3.833,3.833,0,0,1,3.828-3.828h27.789a3.833,3.833,0,0,1,3.828,3.828V160.74a3.833,3.833,0,0,1-3.828,3.828h-.457a1.666,1.666,0,0,0-1.64,1.961l.932,5.176-6.777-6.434a2.549,2.549,0,0,0-1.763-.7h-4.661a1,1,0,0,0,0,1.992h4.661a.565.565,0,0,1,.391.156l7.827,7.43a1.518,1.518,0,0,0,2.539-1.37l-1.119-6.216h.066a5.827,5.827,0,0,0,5.821-5.821V146.575a5.827,5.827,0,0,0-5.821-5.821Z"
         transform="translate(-186.544 -122.059)" />
   </svg>
</template>
