<script setup></script>

<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="59.999"
      height="54.005"
      viewBox="0 0 59.999 54.005"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M51,8A11.007,11.007,0,0,0,40,19a10.666,10.666,0,0,0,.43,3L17.36,22,16.19,10.89A3.2,3.2,0,0,0,13,8H5a2.922,2.922,0,0,0-2.11.88,2.966,2.966,0,0,0-.81,2.8A3.133,3.133,0,0,0,5.16,14h4.95l3.77,34.01A5,5,0,0,0,14,58h5.1a5,5,0,0,0,9.8,0H39.1a5,5,0,0,0,9.8,0H53a1,1,0,0,0,0-2H48.9a5,5,0,0,0-9.8,0H28.9a5,5,0,0,0-9.8,0H14a3,3,0,1,1,0-6H52.35a2.99,2.99,0,0,0,2.94-2.43l4.13-21.51A10.987,10.987,0,0,0,51,8ZM44,54a3,3,0,1,1-3,3A3,3,0,0,1,44,54ZM24,54a3,3,0,1,1-3,3A3,3,0,0,1,24,54Zm29.33-6.81a1,1,0,0,1-.98.81H15.9L12.09,13.77A2,2,0,0,0,10.1,12H5.16a1.131,1.131,0,0,1-1.13-.77.949.949,0,0,1,.28-.94A.928.928,0,0,1,5,10h8a1.213,1.213,0,0,1,1.2,1.1l1.27,12a1,1,0,0,0,.99.9H41.21a11.116,11.116,0,0,0,1.31,2H16.85a1,1,0,0,0-.74.33,1.036,1.036,0,0,0-.26.77l1.77,18a1,1,0,0,0,.99.9H51a1,1,0,0,0,.99-.84l2.63-15.78a11.639,11.639,0,0,0,2.35-1.15ZM36,38V34h7.22l-.45,4Zm6.55,2-.45,4H36V40ZM36,32V28h7.88l-.44,4Zm-8.77,6-.45-4H34v4ZM34,40v4H27.9l-.45-4Zm-7.44-8-.44-4H34v4Zm-1.79,2,.45,4H18.93l-.39-4Zm-6.43-2-.39-4H24.1l.45,4Zm7.1,8,.44,4H19.52l-.39-4Zm26.38-6-.67,4H44.78l.45-4Zm-6.37-2,.37-3.3a10.631,10.631,0,0,0,6.69,1.18L52.15,32Zm5.37,8-.67,4H44.12l.44-4ZM51,28a9,9,0,1,1,9-9A9,9,0,0,1,51,28Z"
         transform="translate(-2 -8)" />
      <path
         class="svg-toggle"
         d="M50,20v5a1,1,0,0,0,2,0V20h5a1,1,0,0,0,0-2H52V13a1,1,0,0,0-2,0v5H45a1,1,0,0,0,0,2Z"
         transform="translate(-2 -8)" />
   </svg>
</template>
