<script setup>
const values = ref([
   {
      name: "client",
      title: {
         fr: "Création de la valeur client",
         en: "Client Value Creation",
      },
      description: {
         fr: "Nous mesurons notre succès grâce à notre impact sur l’activité de nos clients. Nous tenons nos promesses, ce qui nous permet d'établir des relations à long terme",
         en: "We measure our success by our impact on our customers' business. We keep our promises, which allows us to build long-term relationships",
      },
   },
   {
      name: "first",
      title: {
         fr: "Travailler pour toujours être le premier",
         en: "Work to always be the first",
      },
      description: {
         fr: "Nous faisons confiance à la créativité de chaque collaborateur ce qui nous permet d’augmenter notre capacité d’innovation et d’être ainsi plus près de nos clients",
         en: "We trust the creativity of each employee, which allows us to increase our capacity for innovation and thus be closer to our customers",
      },
   },
   {
      name: "diamond",
      title: {
         fr: "Soyez audacieux et différent",
         en: "Be daring and be different",
      },
      description: {
         fr: "Nous agissons de façon différente afin de bousculer les situations établies à l’avance en essayant de nouvelles idées et de nouvelles approches.",
         en: "We act in different ways to challenge pre-established situations by trying new ideas and approaches.",
      },
   },
   {
      name: "support",
      title: {
         fr: "Apprendre et avancer ensemble",
         en: "Learn and moving forward together",
      },
      description: {
         fr: "Nous valorisons la diversité des points de vue, des idées et des profils ainsi qu’un partage de connaissances entre les collaborateurs ce qui favorise l’éclosion des talents.",
         en: "We value the diversity of points of view, ideas and profiles as well as the sharing of knowledge between employees, which promotes the emergence of talents.",
      },
   },
]);

const colorMode = useColorMode();
</script>

<template>
   <div class="section bg-gray" :class="{ 'dark-bg': colorMode == 'dark' }">
      <div class="container">
         <div class="title-border-wrapper text-center">
            <h3
               class="text-secondary text-uppercase"
               v-html="$t('home.values_title')"></h3>
         </div>
         <div class="row mt-5">
            <div
               v-for="(value, i) in values"
               :key="i"
               class="col-lg-3 col-md-6 text-center">
               <div data-aos="fade-up">
                  <template v-if="value.name == 'client'">
                     <HomeStrengthImagesClientImage class="logo" />
                  </template>
                  <template v-if="value.name == 'diamond'">
                     <HomeStrengthImagesDiamondImage class="logo" />
                  </template>
                  <template v-if="value.name == 'first'">
                     <HomeStrengthImagesFirstImage class="logo" />
                  </template>
                  <template v-if="value.name == 'support'">
                     <HomeStrengthImagesSupportImage class="logo" />
                  </template>
                  <h6
                     class="mt-3 medium-text"
                     v-html="value.title[$i18n.locale]"
                     style="height: 50px"></h6>
                  <p
                     class="small light-text text-justify"
                     style="text-align: justify"
                     v-html="value.description[$i18n.locale]"></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<style scoped lang="scss">
.title-border-wrapper {
   h3 {
      display: inline-block;
      position: relative;

      &:before,
      &:after {
         content: "";
         display: inline-block;
         width: 100px;
         position: absolute;
         top: 50%;
         background: #ccc;
         height: 1.5px;

         @media all and (max-width: 478px) {
            display: none;
         }
      }

      &:before {
         right: calc(100% + 20px);
      }

      &:after {
         left: calc(100% + 20px);
      }
   }
}

// .dark {
//    background-color: #0f0f0f;
// }

.logo {
   height: 60px;
}
</style>
