<script setup>
const years = ref(0);
const collaborators = ref(0);
const clients = ref(0);
const projects = ref(0);

const currentYears = 5;
const currentCollaborators = 25;
const currentClients = 95;
const currentProjects = 35;

const t_years = ref(null);
const t_collaborators = ref(null);
const t_clients = ref(null);
const t_projects = ref(null);

const targetYearsIsVisible = useElementVisibility(t_years);
const targetCollaboratorsIsVisible = useElementVisibility(t_collaborators);
const targetClientsIsVisible = useElementVisibility(t_clients);
const targetProjectsIsVisible = useElementVisibility(t_projects);

const hasScrolledYears = false;
const hasScrolledCollaborators = false;
const hasScrolledClients = false;
const hasScrolledProjects = false;

const colorMode = useColorMode();

onMounted(() => {
   window.addEventListener("scroll", handleScroll);
});

onBeforeUnmount(() => {
   window.removeEventListener("scroll", handleScroll);
});

function handleScroll() {
   if (!hasScrolledYears && targetYearsIsVisible.value) {
      let interval = setInterval(() => {
         if (years.value < currentYears) {
            years.value++;
         } else {
            clearInterval(interval); // Stop the interval when count reaches 5
         }
      }, 500);
   }
   if (!hasScrolledCollaborators && targetCollaboratorsIsVisible.value) {
      let interval = setInterval(() => {
         if (collaborators.value < currentCollaborators) {
            collaborators.value++;
         } else {
            clearInterval(interval); // Stop the interval when count reaches 5
         }
      }, 500);
   }
   if (!hasScrolledClients && targetClientsIsVisible.value) {
      let interval = setInterval(() => {
         if (clients.value < currentClients) {
            clients.value++;
         } else {
            clearInterval(interval); // Stop the interval when count reaches 5
         }
      }, 500);
   }
   if (!hasScrolledProjects && targetProjectsIsVisible.value) {
      let interval = setInterval(() => {
         if (projects.value < currentProjects) {
            projects.value++;
         } else {
            clearInterval(interval); // Stop the interval when count reaches 5
         }
      }, 500);
   }
}
</script>

<template>
   <div
      class="section text-center bg-stats"
      :class="{ 'dark-bg-stats': colorMode == 'dark' }">
      <h3
         class="text-secondary text-uppercase"
         style="color: #4b2f00 !important">
         {{ $t("home.statistics_title") }}
      </h3>
      <p
         class="extra-light-text small mb-0 col-lg-4 mx-auto"
         style="color: #212529">
         {{ $t("home.statistics_description") }}
      </p>
      <div
         class="stat"
         ref="t_years"
         data-aos="fade-up">
         <span
            >+{{
               years.toLocaleString("en-US", {
                  minimumIntegerDigits: 2,
                  useGrouping: false,
               })
            }}</span
         >
         <span>{{ $t("home.statistics_years") }}</span>
      </div>
      <div
         class="stat"
         ref="t_collaborators"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="10">
         <span
            >+{{
               collaborators.toLocaleString("en-US", {
                  minimumIntegerDigits: 2,
                  useGrouping: false,
               })
            }}</span
         >
         <span>{{ $t("home.statistics_collaborators") }}</span>
      </div>
      <div
         class="stat"
         ref="t_clients"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="10">
         <span
            >{{
               clients.toLocaleString("en-US", {
                  minimumIntegerDigits: 2,
                  useGrouping: false,
               })
            }}%</span
         >
         <span>{{ $t("home.statistics_clients") }}</span>
      </div>
      <div
         class="stat"
         ref="t_projects"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-offset="10">
         <span
            >+{{
               projects.toLocaleString("en-US", {
                  minimumIntegerDigits: 2,
                  useGrouping: false,
               })
            }}</span
         >
         <span>{{ $t("home.statistics_projects") }}</span>
      </div>
   </div>
</template>

<style lang="scss" scoped>
.stat {
   display: inline-block;
   margin: 30px;
   color: #4b2f00;

   > :first-child {
      display: block;
      font-size: 65px;
   }

   > :last-child {
      font-size: 25px;
   }
}
</style>
