<script setup>
const props = defineProps({ name: String });
const imageSrc = computed(() => `/img/home-page/services/${props.name}.svg`);
const colorMode = useColorMode();
</script>
<template>
   <div class="service-container" data-aos="fade-up">
      <div
         class="service-content text-center"
         :class="{ 'dark-card-bg': colorMode === 'dark' }">
         <template v-if="name == 'consulting'">
            <HomeServicesImagesConsultingImage class="logo" />
         </template>
         <template v-if="name == 'design'">
            <HomeServicesImagesDesignImage class="logo" />
         </template>
         <template v-if="name == 'mobile'">
            <HomeServicesImagesMobileImage class="logo" />
         </template>
         <template v-if="name == 'ui-ux'">
            <HomeServicesImagesUIUXImage class="logo" />
         </template>
         <template v-if="name == 'web'">
            <HomeServicesImagesWebImage class="logo" />
         </template>
         <p class="mt-3 medium-text text-secondary" style="font-size: 18px">
            {{ $t("home.services_" + name) }}
         </p>
      </div>
   </div>
</template>

<style scoped lang="scss">
.service-container {
   flex-basis: 20%;
   padding: 10px;
   @media all and (max-width: 992px) {
      flex-basis: 33%;
   }
   @media all and (max-width: 478px) {
      flex-basis: 50%;
   }

   @media all and (max-width: 390px) {
      flex-basis: 100%;
   }
}

.service-content {
   background: #f3f3f3 0% 0% no-repeat padding-box;
   border-radius: 28px;
   padding: 15px;
   height: 100%;
}

.service-dark {
   background: #a0a0a0;
   // background-color: #000000;
}

.logo {
   height: 60px;
}
</style>
