<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="44.088"
      height="44.986"
      viewBox="0 0 44.088 44.986"
      class="svg-toggle">
      <g transform="translate(-0.47)">
         <path
            fill="currentColor"
            d="M1.3,12.427a1.821,1.821,0,0,0-.029.269v1.851A1.835,1.835,0,0,0,2.46,16.259v2.723a1.712,1.712,0,0,0,1.631,1.7V36.417a1.712,1.712,0,0,0-1.631,1.7v2.715A1.855,1.855,0,0,0,1.27,42.565v1.81a.612.612,0,0,0,.612.611H43.12a.612.612,0,0,0,.611-.611v-1.81a1.855,1.855,0,0,0-1.19-1.728V38.105a1.712,1.712,0,0,0-1.631-1.7V20.686a1.712,1.712,0,0,0,1.631-1.7V16.259a1.835,1.835,0,0,0,1.19-1.712V12.708a1.778,1.778,0,0,0-.029-.269.609.609,0,0,0,.494-1.113L22.782.071a.612.612,0,0,0-.571,0L.8,11.314a.611.611,0,0,0,.5,1.113Zm2.385,4.892v-.942h7.052v.934Zm15.7,3.372V36.417a1.712,1.712,0,0,0-1.631,1.7v2.6H11.95v-2.6a1.712,1.712,0,0,0-1.631-1.7V20.686a1.712,1.712,0,0,0,1.631-1.7v-2.6h5.8v2.6a1.713,1.713,0,0,0,1.631,1.708Zm-.408-3.372v-.942h7.053v.934Zm15.7,3.372V36.417a1.713,1.713,0,0,0-1.631,1.7v2.6h-5.8v-2.6a1.713,1.713,0,0,0-1.631-1.7V20.686a1.712,1.712,0,0,0,1.631-1.7v-2.6h5.8v2.6a1.712,1.712,0,0,0,1.631,1.708Zm-.408-3.372v-.942h7.052v.934Zm7.052,22.47v.933H34.265v-.933Zm-15.3,0v.933H18.97v-.933ZM19.989,19.475h-.53a.489.489,0,0,1-.489-.489v-.444h7.052v.444a.489.489,0,0,1-.489.489ZM24.4,20.7V36.409H20.6V20.7ZM19.989,37.632h5.544a.489.489,0,0,1,.489.489v.445H18.97v-.445a.489.489,0,0,1,.489-.489Zm-9.262,2.157v.933H3.675v-.933ZM3.675,19v-.457h7.053v.444a.489.489,0,0,1-.489.489H4.152a.489.489,0,0,1-.477-.493ZM9.1,20.71v15.7H5.305V20.7ZM3.675,38.134a.489.489,0,0,1,.489-.489h6.074a.489.489,0,0,1,.489.489v.444H3.675ZM42.508,42.59v1.2H2.484v-1.2a.632.632,0,0,1,.632-.632h38.76a.632.632,0,0,1,.632.62Zm-1.19-4.456v.444H34.265v-.444a.489.489,0,0,1,.489-.489h6.086a.489.489,0,0,1,.477.477ZM35.9,36.422V20.7h3.8V36.409ZM41.318,19a.489.489,0,0,1-.489.489h-6.07A.489.489,0,0,1,34.27,19v-.457h7.052ZM22.5,1.294l18.21,9.572H4.286ZM2.484,12.708A.611.611,0,0,1,3.1,12.1H41.9a.611.611,0,0,1,.611.611v1.851a.612.612,0,0,1-.611.611H3.1a.612.612,0,0,1-.611-.611Z" />
         <path class="b" d="M22.5,1.294l18.21,9.572H4.29Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #1d2128;
}
.b {
   fill: #ffb500;
}
</style>
