<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="50"
      height="50"
      viewBox="0 0 50 50"
      class="svg-toggle">
      <defs>
         <clipPath id="a"><rect class="a" width="50" height="50" /></clipPath>
      </defs>
      <g class="b">
         <path
            fill="currentColor"
            d="M46.346,40.236a7.384,7.384,0,0,0,2.349-3.881.733.733,0,1,0-1.4-.431,5.779,5.779,0,0,1-2.064,3.292,12.852,12.852,0,0,0-4.234-2.282,8.99,8.99,0,0,0,5.118-8.105V27.346a.733.733,0,0,0-.609-.722c-3.628-.624-6.14-4.306-6.164-4.343a.733.733,0,0,0-1.288.131c-.017.042-1.8,4.2-9.164,4.2a.733.733,0,0,0-.733.733v1.483a8.99,8.99,0,0,0,5.118,8.105,12.854,12.854,0,0,0-4.233,2.281A4.122,4.122,0,0,1,27.5,37.3c-1.743-3.709-1.744-11.054-.522-14.242a10.875,10.875,0,0,1,20.315,0c.846,2.207,1.1,6.554.6,10.11a.733.733,0,0,0,1.451.206c.546-3.833.26-8.392-.679-10.841a12.341,12.341,0,0,0-23.053,0c-1.349,3.519-1.353,11.312.564,15.391a5.973,5.973,0,0,0,1.751,2.309A12.891,12.891,0,0,0,25,44.928a12.927,12.927,0,0,0-8.272-7.994,9.041,9.041,0,0,0,3.737-3.326,2.67,2.67,0,0,0,3.408-3.91c1.089-3.168,1.9-7.437,0-10.57A6.735,6.735,0,0,0,18.9,15.95a6.338,6.338,0,0,0-3.469.517c-1.019-1.214-2.18-1.865-4.586-1.865A11.357,11.357,0,0,0,3.429,17.6.733.733,0,1,0,4.44,18.658a9.809,9.809,0,0,1,6.41-2.59c2.325,0,2.986.668,3.8,1.769a.737.737,0,0,0,1,.174,4.832,4.832,0,0,1,3.061-.609,5.3,5.3,0,0,1,3.915,2.485c1.234,2.04,1.239,5.088.025,8.852a2.655,2.655,0,0,0-.8-.174V27.346a.733.733,0,0,0-.609-.722c-3.628-.624-6.14-4.306-6.164-4.343a.733.733,0,0,0-1.288.131c-.017.042-1.8,4.2-9.164,4.2a.733.733,0,0,0-.733.733v1.219a2.654,2.654,0,0,0-.859.2C1.858,25.67,1.8,23,2.858,20.809a.733.733,0,1,0-1.32-.639c-1.295,2.676-1.194,5.892.3,9.564a2.671,2.671,0,0,0,3.434,3.873,9.04,9.04,0,0,0,3.737,3.326A12.889,12.889,0,0,0,0,49.208v.029a.733.733,0,0,0,.733.733H49.267A.733.733,0,0,0,50,49.237v-.029A12.823,12.823,0,0,0,46.346,40.236Zm-9.212-2.428a11.41,11.41,0,0,1,2.151.2,2.345,2.345,0,0,1-4.3,0A11.41,11.41,0,0,1,37.133,37.808ZM29.62,28.829v-.763c5.56-.2,8.143-2.645,9.186-4.078a11.934,11.934,0,0,0,5.84,3.951v.89a7.513,7.513,0,0,1-15.026,0ZM12.866,37.808a11.41,11.41,0,0,1,2.151.2,2.345,2.345,0,0,1-4.3,0A11.41,11.41,0,0,1,12.866,37.808Zm8.819-5.369a1.2,1.2,0,0,1-.542-.132,8.906,8.906,0,0,0,.621-2.278,1.206,1.206,0,0,1-.079,2.41Zm-17.638,0a1.206,1.206,0,0,1-.079-2.41,8.907,8.907,0,0,0,.621,2.278A1.2,1.2,0,0,1,4.047,32.439Zm1.324-3.113v-.008c-.01-.162-.018-.325-.018-.49v-.763c5.56-.2,8.143-2.645,9.186-4.078a11.934,11.934,0,0,0,5.84,3.951v.89c0,.165-.007.328-.018.49v.008a7.511,7.511,0,0,1-14.99,0ZM1.487,48.5a11.425,11.425,0,0,1,7.8-10.12,3.812,3.812,0,0,0,7.16,0,11.426,11.426,0,0,1,7.8,10.12Zm24.267,0a11.425,11.425,0,0,1,7.8-10.12,3.812,3.812,0,0,0,7.16,0,11.426,11.426,0,0,1,7.8,10.12Z" />
      </g>
      <path
         class="c"
         d="M33.726,29.114A1.188,1.188,0,1,0,34.914,30.3,1.19,1.19,0,0,0,33.726,29.114Z" />
      <path
         class="c"
         d="M40.541,31.491A1.188,1.188,0,1,0,39.353,30.3,1.19,1.19,0,0,0,40.541,31.491Z" />
      <path
         class="c"
         d="M9.459,29.114A1.188,1.188,0,1,0,10.647,30.3,1.19,1.19,0,0,0,9.459,29.114Z" />
      <path
         class="c"
         d="M16.274,31.491A1.188,1.188,0,1,0,15.086,30.3,1.19,1.19,0,0,0,16.274,31.491Z" />
      <path
         class="c"
         d="M20.15,10.951a.733.733,0,0,0,.034-1.036c-1.67-1.783-2.4-3.563-2.16-5.29A3.248,3.248,0,0,1,21.049,1.51,3.059,3.059,0,0,1,24.3,3.283a.733.733,0,0,0,1.4,0A3.058,3.058,0,0,1,28.951,1.51a3.248,3.248,0,0,1,3.024,3.116c.616,4.505-5.493,8.091-6.977,8.891a21.81,21.81,0,0,1-2.723-1.746.733.733,0,1,0-.882,1.171A22.116,22.116,0,0,0,24.679,15a.738.738,0,0,0,.641,0,22.243,22.243,0,0,0,4.3-2.877c2.844-2.45,4.16-5.112,3.807-7.7A4.734,4.734,0,0,0,29.074.049,4.828,4.828,0,0,0,25,1.592,4.826,4.826,0,0,0,20.926.049a4.734,4.734,0,0,0-4.354,4.378c-.3,2.185.556,4.369,2.542,6.49A.733.733,0,0,0,20.15,10.951Z" />
   </svg>
</template>

<style>
.a {
   fill: #fff;
}
.b {
   clip-path: url(#a);
}
.c {
   fill: #ffb500;
}
</style>
