<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50.166"
      viewBox="0 0 50 50.166"
      class="svg-toggle">
      <g transform="translate(0 -0.834)">
         <path
            fill="currentColor"
            d="M48.891,9.432,25.566,1.1a1.71,1.71,0,0,0-1.138,0L1.109,9.432a1.667,1.667,0,0,0,0,3.136L12.5,16.638v5.2c0,3.24,11.221,3.333,12.5,3.333s12.5-.093,12.5-3.333v-5.2L40,15.75v1.917a1.667,1.667,0,0,0,1.667,1.667h1.667A1.667,1.667,0,0,0,45,17.667v-2.5a2.465,2.465,0,0,0-.272-1.109l4.167-1.49a1.667,1.667,0,0,0,0-3.136ZM35.834,20C32.66,18.555,25.971,18.5,25,18.5s-7.659.055-10.833,1.5V12.74C14.667,12.1,18.6,11,25,11s10.333,1.1,10.833,1.74ZM25,23.5c-6.167,0-10.039-1.018-10.763-1.667.724-.648,4.6-1.667,10.763-1.667s10.039,1.018,10.763,1.667C35.04,22.482,31.167,23.5,25,23.5Zm15.391-9.662L37.5,14.868v-2.2c0-3.24-11.221-3.333-12.5-3.333s-12.5.093-12.5,3.333v2.2L1.667,11,25.012,2.667,41.667,8.618v4.2A2.5,2.5,0,0,0,40.391,13.838Zm2.943,3.829H41.667v-2.5a.833.833,0,1,1,1.667,0Zm0-4.88V9.214l5,1.786Z" />
         <path
            fill="currentColor"
            d="M47.5,26.833a.821.821,0,0,0-.149.013A139.533,139.533,0,0,1,25,28.5,139.533,139.533,0,0,1,2.649,26.847a.944.944,0,0,0-.149-.013c-.583,0-2.5.661-2.5,9.167s1.917,9.167,2.5,9.167a.957.957,0,0,0,.149-.015,130.341,130.341,0,0,1,17.167-1.565l-1.627,3.9a1.66,1.66,0,0,0,2.2,2.139l.637-.272.276.634A1.657,1.657,0,0,0,22.837,51h.021a1.661,1.661,0,0,0,1.528-1.04l1.448-3.465,1.443,3.452A1.667,1.667,0,0,0,28.808,51h.025a1.655,1.655,0,0,0,1.527-1l.278-.639.628.269a1.661,1.661,0,0,0,2.208-2.149l-1.6-3.825a127.084,127.084,0,0,1,15.477,1.5.809.809,0,0,0,.145.011c.583,0,2.5-.661,2.5-9.167S48.083,26.833,47.5,26.833ZM27.667,30.142a17.553,17.553,0,0,1,.6,3.9,5.782,5.782,0,0,0-5.8.539,22.519,22.519,0,0,0-.573-4.443q1.514.032,3.106.032C25.911,30.167,26.8,30.157,27.667,30.142ZM25.833,43.5A4.167,4.167,0,1,1,30,39.333,4.167,4.167,0,0,1,25.833,43.5ZM2.5,28.917A23.373,23.373,0,0,1,3.333,36,23.372,23.372,0,0,1,2.5,43.083,23.372,23.372,0,0,1,1.667,36,23.373,23.373,0,0,1,2.5,28.917ZM4.183,43.225A23.272,23.272,0,0,0,5,36a23.259,23.259,0,0,0-.818-7.227,146.192,146.192,0,0,0,15.971,1.319A21.448,21.448,0,0,1,20.833,36c0,.121,0,.236,0,.352a5.773,5.773,0,0,0-.268,5.46l-.037.088a145.14,145.14,0,0,0-16.34,1.327Zm18.656,6.108-.608-1.4a.833.833,0,0,0-1.093-.433l-1.4.62,1.954-4.685a5.827,5.827,0,0,0,2.943,1.608ZM30.528,47.5a.833.833,0,0,0-1.092.433l-.617,1.386-1.787-4.278a5.833,5.833,0,0,0,2.946-1.609l1.95,4.667Zm16.805-4.042a134.976,134.976,0,0,0-16.167-1.5l-.059-.143a5.8,5.8,0,0,0-1.123-6.572,23.2,23.2,0,0,0-.595-5.134,139.092,139.092,0,0,0,17.944-1.568c.387.657,1,3.254,1,7.459S47.716,42.8,47.333,43.458Z" />
         <path
            class="a"
            d="M48.884,9.265,25.559.932a1.71,1.71,0,0,0-1.138,0L1.1,9.265a1.667,1.667,0,0,0,0,3.136l11.392,4.07v5.2c0,3.24,11.221,3.333,12.5,3.333s12.5-.093,12.5-3.333v-5.2l2.5-.888V17.5a1.667,1.667,0,0,0,1.667,1.667h1.667A1.667,1.667,0,0,0,44.993,17.5V15a2.466,2.466,0,0,0-.272-1.109l4.167-1.49a1.667,1.667,0,0,0,0-3.136ZM35.826,19.833c-3.174-1.445-9.862-1.5-10.833-1.5s-7.659.055-10.833,1.5v-7.26c.5-.642,4.43-1.74,10.833-1.74s10.333,1.1,10.833,1.74Zm-10.833,3.5c-6.167,0-10.039-1.018-10.763-1.667.724-.648,4.6-1.667,10.763-1.667s10.039,1.018,10.763,1.667C35.032,22.315,31.16,23.333,24.993,23.333Zm15.391-9.662L37.493,14.7V12.5c0-3.24-11.221-3.333-12.5-3.333s-12.5.093-12.5,3.333v2.2L1.66,10.833,25,2.5,41.66,8.452v4.2A2.506,2.506,0,0,0,40.384,13.671ZM43.326,17.5H41.66V15a.833.833,0,0,1,1.667,0Zm0-4.88V9.047l5,1.786Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #ffb500;
}
</style>
