<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="56"
      height="56"
      viewBox="0 0 56 56"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M28,0A28,28,0,1,0,56,28,28,28,0,0,0,28,0Zm0,54.133A26.133,26.133,0,1,1,54.133,28,26.133,26.133,0,0,1,28,54.133Z" />
      <path
         fill="currentColor"
         d="M31.03,45.52a.933.933,0,0,0-1.02-.838l-.036,0h0a17.146,17.146,0,0,1-3.955,0A.934.934,0,0,0,25.8,46.54a18.907,18.907,0,0,0,4.387,0A.933.933,0,0,0,31.03,45.52Z" />
      <path
         fill="currentColor"
         d="M42.28,15.973a.933.933,0,0,0-1.315-.115l0,0a.933.933,0,0,0-.112,1.315,16.8,16.8,0,0,1-.99,22.724.934.934,0,1,0,1.318,1.322A18.667,18.667,0,0,0,42.28,15.973Z" />
      <path d="M21.746,12.337h0Z" />
      <path
         fill="currentColor"
         d="M32.4,9.855a18.832,18.832,0,0,0-10.986.675.932.932,0,1,0,.654,1.746,16.955,16.955,0,0,1,9.893-.607A.933.933,0,1,0,32.4,9.855Z" />
      <path
         fill="currentColor"
         d="M16.1,39.853a16.8,16.8,0,0,1-1.687-21.735A.933.933,0,0,0,12.919,17l-.016.022a18.667,18.667,0,0,0,1.873,24.156A.935.935,0,1,0,16.1,39.853Z" />
      <path
         class="a"
         d="M19.6,14a.933.933,0,0,0-.933.933V22.4a.933.933,0,0,0,1.867,0V14.933A.933.933,0,0,0,19.6,14Z" />
      <path
         class="a"
         d="M22.4,14a.933.933,0,0,0-.933.933V22.4a.933.933,0,1,0,1.867,0V14.933A.933.933,0,0,0,22.4,14Z" />
      <path
         class="a"
         d="M39.655,18.874l-.6-1.972a4.284,4.284,0,0,0-8.112,0l-.6,1.972a11.077,11.077,0,0,0-.309,5.133,4.828,4.828,0,0,0,2.486,3.365l-.671,15a2.956,2.956,0,0,0,.747,2.3,3.26,3.26,0,0,0,4.606.206q.108-.1.206-.206a2.916,2.916,0,0,0,.747-2.235L37.482,27.37a4.827,4.827,0,0,0,2.483-3.363A11.077,11.077,0,0,0,39.655,18.874Zm-1.53,4.809a2.96,2.96,0,0,1-1.937,2.23.933.933,0,0,0-.6.916l.709,15.756a1.08,1.08,0,0,1-.28.846,1.442,1.442,0,0,1-2.029,0,1.121,1.121,0,0,1-.274-.907l.7-15.694a.933.933,0,0,0-.6-.916,2.96,2.96,0,0,1-1.937-2.23,9.2,9.2,0,0,1,.257-4.262l.6-1.973a2.42,2.42,0,0,1,4.54,0l.6,1.973A9.217,9.217,0,0,1,38.126,23.682Z" />
      <path
         class="a"
         d="M25.2,14a.933.933,0,0,0-.933.933v8.014L21.74,25.473a.933.933,0,0,0-.274.707l.817,16.333a1.272,1.272,0,0,1-.353.951,1.314,1.314,0,0,1-1.858.008l-.008-.008a1.271,1.271,0,0,1-.353-.951l.822-16.333a.934.934,0,0,0-.273-.707l-2.527-2.527V14.933a.933.933,0,0,0-1.867,0v8.4a.933.933,0,0,0,.273.66L18.647,26.5l-.8,15.922a3.153,3.153,0,1,0,6.3.307q.008-.153,0-.307l-.8-15.922,2.507-2.508a.933.933,0,0,0,.274-.66v-8.4A.933.933,0,0,0,25.2,14Z" />
   </svg>
</template>

<style>
.a {
   fill: #ffb500;
}
</style>
