<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="49.525"
      height="52"
      viewBox="0 0 49.525 52"
      class="svg-toggle">
      <g transform="translate(-1.238)">
         <path
            fill="currentColor"
            d="M34.7,5.853h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941H34.7a.942.942,0,0,0,.941-.941v-3.5A.942.942,0,0,0,34.7,5.853Zm-.545,3.9h-1.83V7.339h1.83Z" />
         <path
            fill="currentColor"
            d="M28.892,14.556h-2.92a.942.942,0,0,0-.941.941V19a.942.942,0,0,0,.941.941h2.92A.942.942,0,0,0,29.832,19V15.5A.942.942,0,0,0,28.892,14.556Zm-.545,3.9h-1.83V16.042h1.83Z" />
         <path
            fill="currentColor"
            d="M40.5,14.556h-2.92a.942.942,0,0,0-.941.941V19a.942.942,0,0,0,.941.941H40.5A.942.942,0,0,0,41.445,19V15.5A.942.942,0,0,0,40.5,14.556Zm-.545,3.9h-1.83V16.042h1.83Z" />
         <path
            fill="currentColor"
            d="M34.7,23.258h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941H34.7a.942.942,0,0,0,.941-.941V24.2A.942.942,0,0,0,34.7,23.258Zm-.545,3.9h-1.83V24.744h1.83Z" />
         <path
            fill="currentColor"
            d="M40.5,31.961h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941H40.5a.942.942,0,0,0,.941-.941V32.9A.942.942,0,0,0,40.5,31.961Zm-.545,3.9h-1.83V33.447h1.83Z" />
         <path
            fill="currentColor"
            d="M50.23,35.271a3.094,3.094,0,0,0-4.273-.826l-2.042,1.367V3.856h.148a.976.976,0,0,0,.975-.975V.975A.976.976,0,0,0,44.063,0H39.319a.743.743,0,0,0,0,1.486h4.233V2.37H22.694V1.486H34.667a.743.743,0,1,0,0-1.486H22.184a.976.976,0,0,0-.975.975v1.9a.976.976,0,0,0,.975.975h.377V13.4H21.036V11.564a1.159,1.159,0,0,0-1.158-1.158H14.269a1.159,1.159,0,0,0-1.158,1.158V13.4H12.044a1.2,1.2,0,0,0-1.2,1.2V31.637q-.472-.03-.946-.031H8.724V31.22A2.617,2.617,0,0,0,6.11,28.606H3.851A2.617,2.617,0,0,0,1.238,31.22V41.828a.743.743,0,0,0,1.486,0V31.22a1.129,1.129,0,0,1,1.128-1.128H6.11A1.129,1.129,0,0,1,7.238,31.22V47.935A1.129,1.129,0,0,1,6.11,49.063H3.851a1.129,1.129,0,0,1-1.128-1.128V46.478a.743.743,0,0,0-1.486,0v1.458a2.617,2.617,0,0,0,2.614,2.614H6.11a2.617,2.617,0,0,0,2.614-2.614v-.042l10.287,3.9c.02.008.041.014.061.02A4.962,4.962,0,0,0,20.423,52a4.653,4.653,0,0,0,.726-.057h0l15.184-2.189.011,0a7.474,7.474,0,0,0,3.541-1.586l.027-.023,9.814-8.826A3.1,3.1,0,0,0,50.23,35.271ZM24.047,3.856H42.429V36.806l-6.181,4.137-2.072-.116-.053-.531a4.54,4.54,0,0,0-.256-1.118q-.065-.177-.144-.347a4.5,4.5,0,0,0-1.112-1.484H34.7a.942.942,0,0,0,.941-.941V32.9a.942.942,0,0,0-.941-.941h-2.92a.942.942,0,0,0-.941.941v3.488a4.583,4.583,0,0,0-.577-.12l-.019,0-.408-.047V32.9a.942.942,0,0,0-.941-.941h-2.92a.942.942,0,0,0-.941.941v2.765l-.983-.113Zm8.276,32.005V33.447h1.83v2.414Zm-3.976-2.414v2.414H26.716l-.2-.023V33.447ZM14.6,11.892H19.55V13.4H14.6Zm-2.271,2.991H22.561v2.323h-8.39a.872.872,0,0,0-.871.871V20.32a.872.872,0,0,0,.871.871h8.39v2.09h-8.39a.872.872,0,0,0-.871.871V26.4a.872.872,0,0,0,.871.871h8.39v2.09h-8.39a.872.872,0,0,0-.871.871V32q-.189-.044-.38-.083l-.18-.036-.211-.039-.2-.036Zm10.235,3.809v1.014H14.786V18.692Zm0,6.075V25.78H14.786V24.767Zm-7.775,7.089V30.842h7.775v1.014Zm7.775,1.486v2.042l-.229-.026a13.516,13.516,0,0,1-1.418-.28,13.342,13.342,0,0,1-2.613-.961q-.167-.082-.332-.169-.269-.142-.534-.3c-.129-.076-.26-.149-.392-.221l-.085-.046-.078-.042Zm26.176,4.867-9.8,8.817a5.986,5.986,0,0,1-2.817,1.259L20.933,50.473l-.02,0a3.332,3.332,0,0,1-1.407-.09L8.724,46.3V33.092H9.895a13.418,13.418,0,0,1,1.607.1q.162.02.323.043l.047.007c.271.04.541.089.807.145.083.018.166.035.249.054l.124.029c.108.026.215.053.323.082l.058.015a13.453,13.453,0,0,1,2.439.927l.07.035q.149.075.3.154l.09.048c.118.065.236.13.353.2l.005,0q.474.277.963.517a14.851,14.851,0,0,0,4.486,1.379l.019,0,1.067.123.869.1,2,.231.5.057,3.472.4a3.026,3.026,0,0,1,2.584,2.7l.026.259L18.746,39.345a.743.743,0,1,0-.144,1.479l14.761,1.439a.719.719,0,0,0,.095.012l2.955.166h.042c.015,0,.029,0,.044,0l.05,0c.021,0,.042-.007.063-.012s.033-.006.049-.011a.7.7,0,0,0,.066-.024c.014-.005.028-.01.041-.016a.761.761,0,0,0,.1-.056l6.717-4.5,3.2-2.142a1.6,1.6,0,0,1,1.953,2.529Z" />
         <path
            class="a"
            d="M34.861,32h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941h2.92a.942.942,0,0,0,.941-.941v-3.5A.942.942,0,0,0,34.861,32Zm-.545,3.9h-1.83V33.486h1.83Z" />
         <path
            class="a"
            d="M28.892,5.853h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941h2.92a.942.942,0,0,0,.941-.941v-3.5A.942.942,0,0,0,28.892,5.853Zm-.545,3.9h-1.83V7.339h1.83Z" />
         <path
            class="a"
            d="M40.5,5.853h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941H40.5a.942.942,0,0,0,.941-.941v-3.5A.942.942,0,0,0,40.5,5.853Zm-.545,3.9h-1.83V7.339h1.83Z" />
         <path
            class="a"
            d="M34.7,14.556h-2.92a.942.942,0,0,0-.941.941V19a.942.942,0,0,0,.941.941H34.7A.942.942,0,0,0,35.639,19V15.5A.942.942,0,0,0,34.7,14.556Zm-.545,3.9h-1.83V16.042h1.83Z" />
         <path
            class="a"
            d="M28.892,23.258h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941h2.92a.942.942,0,0,0,.941-.941V24.2A.942.942,0,0,0,28.892,23.258Zm-.545,3.9h-1.83V24.744h1.83Z" />
         <path
            class="a"
            d="M40.5,23.258h-2.92a.942.942,0,0,0-.941.941v3.5a.942.942,0,0,0,.941.941H40.5a.942.942,0,0,0,.941-.941V24.2A.942.942,0,0,0,40.5,23.258Zm-.545,3.9h-1.83V24.744h1.83Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #ffb500;
}
</style>
