<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="48"
      height="48"
      viewBox="0 0 48 48"
      class="svg-toggle">
      <defs>
         <clipPath id="a"><rect class="a" width="48" height="48" /></clipPath>
      </defs>
      <g class="b">
         <path
            fill="currentColor"
            d="M43.349,9.806A24,24,0,0,0,.283,20.362,23.816,23.816,0,0,0,3.275,36.1l.006.011A24.413,24.413,0,0,0,4.655,38.2a24,24,0,0,0,13.852,9.163c.253.059.507.114.761.165a.947.947,0,0,0,.162.031,23.957,23.957,0,0,0,9.16,0,.934.934,0,0,0,.132-.025,23.826,23.826,0,0,0,6.067-2.09.937.937,0,1,0-.845-1.674A22.331,22.331,0,0,1,30.388,45.2l3.887-6.739,7.61-1.429a21.635,21.635,0,0,1-2.215,2.6A.937.937,0,0,0,41,40.951a23.826,23.826,0,0,0,3.686-4.769c.007-.013.015-.025.022-.038a24.06,24.06,0,0,0,3.125-9.3q.005-.034.008-.069c.033-.286.063-.572.086-.86A23.989,23.989,0,0,0,43.349,9.806ZM27.359,2.138A21.954,21.954,0,0,1,39.934,8.652L38.79,18.486l-7.349,1.65-6.479-4.707V8.388l1.444-1.035a.937.937,0,0,0-1.092-1.524L23.963,6.8,17.505,2.846A22.039,22.039,0,0,1,27.359,2.138ZM17.873,21.5l3.053-2.218,3.053-2.218L30.085,21.5l-2.332,7.178H20.205ZM10.914,6.168a22.3,22.3,0,0,1,4.349-2.5l7.778,4.759v7l-6.479,4.707L9.185,18.479,7.679,9.063A22.351,22.351,0,0,1,10.914,6.168ZM2.136,20.647A22.018,22.018,0,0,1,6.09,11l1.268,7.929-5.48,5.528A22.425,22.425,0,0,1,2.136,20.647Zm-.07,6.288L8.66,20.283l7.384,1.658,2.45,7.54-4.611,7.1L4.7,34.814A21.9,21.9,0,0,1,2.066,26.935Zm4.1,10.157-.072-.1,7.634,1.465,3.9,6.758A22.1,22.1,0,0,1,6.167,37.092Zm21.706,8.713a21.978,21.978,0,0,1-7.736.008l-4.712-8.168,4.608-7.091h7.938l4.608,7.091Zm15.4-10.944-9.147,1.718-4.613-7.1,2.45-7.54,7.379-1.657L45.879,27A22.242,22.242,0,0,1,43.269,34.861Zm2.807-10.345-5.449-5.6.968-8.326c.081.107.162.213.242.321A22.062,22.062,0,0,1,46.076,24.516Z" />
         <path
            class="c"
            d="M29.143,4.05a.937.937,0,1,0,.275.663A.945.945,0,0,0,29.143,4.05Z" />
         <path
            class="c"
            d="M38.2,41.966a.937.937,0,1,0,.275.663A.945.945,0,0,0,38.2,41.966Z" />
         <path
            class="c"
            d="M17.894,21.5l3.053-2.218L24,17.064,30.106,21.5l-2.332,7.178H20.226Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #fff;
}
.b {
   clip-path: url(#a);
}
.c {
   fill: #ffb500;
}
</style>
