<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="51"
      height="51"
      viewBox="0 0 51 51"
      class="svg-toggle">
      <defs>
         <clipPath id="a"><rect class="a" width="51" height="51" /></clipPath>
      </defs>
      <g class="b">
         <path
            fill="currentColor"
            d="M49.43,17.59A25.08,25.08,0,0,0,1.56,32.574l1.622-.508A23.381,23.381,0,1,1,5.88,37.8l-1.426.924A25.167,25.167,0,0,0,25.545,50.153,25.071,25.071,0,0,0,49.43,17.59Z" />
         <path
            fill="currentColor"
            d="M20.571,11.894l.488-1.628-8.5-2.549a.848.848,0,0,0-.845.213l-1.7,1.7a.85.85,0,0,0,.256,1.377l7.646,3.4.69-1.553L12.1,9.956l.466-.466Z" />
         <path
            fill="currentColor"
            d="M28.463,6.833a.849.849,0,0,0-.85-.85h0a6.953,6.953,0,0,0-4.949,2.05l-7.2,7.2L12.527,14.5a.85.85,0,0,0-.807.223l-1.7,1.7a.849.849,0,0,0,.163,1.329L14.25,20.2l2.44,4.066a.849.849,0,0,0,.624.406.827.827,0,0,0,.1.006.857.857,0,0,0,.6-.248l1.7-1.7a.852.852,0,0,0,.223-.807l-.732-2.929,7.319-7.247A7.009,7.009,0,0,0,28.463,6.833ZM17.669,18.122a.85.85,0,0,0-.227.81l.733,2.932-.59.59L15.6,19.139a.847.847,0,0,0-.291-.291l-3.315-1.989.59-.59L15.512,17a.85.85,0,0,0,.807-.223l7.544-7.544A5.255,5.255,0,0,1,26.7,7.76a5.239,5.239,0,0,1-1.381,2.793Z" />
         <path
            fill="currentColor"
            d="M26.727,21.994l-2.549-8.606-1.629.483,2.395,8.086-.516.455L21.6,15.842l-1.561.673,3.3,7.646a.85.85,0,0,0,.595.493.873.873,0,0,0,.186.02.847.847,0,0,0,.562-.212l1.8-1.589A.85.85,0,0,0,26.727,21.994Z" />
         <path
            fill="currentColor"
            d="M16.6,46.845c-6.051,2.867-10.8,3.238-13.02,1.016-3.852-3.852.331-15.043,9.73-26.034l-1.291-1.1C1.706,32.777-2.259,44.43,2.374,49.062A7.334,7.334,0,0,0,7.762,51a23.255,23.255,0,0,0,9.561-2.62Z" />
         <path
            fill="currentColor"
            d="M45.354,29.37a.85.85,0,0,0-.749-.448H41.731l-2.314-4.628a.851.851,0,0,0-.76-.47h-8.5a.849.849,0,0,0-.85.85v6.8a.849.849,0,0,0,.85.849H32.71v9.345a.849.849,0,0,0,.85.85h4.248a.849.849,0,0,0,.6-.25l3.4-3.4a.846.846,0,0,0,.249-.6V35.125l3.256-4.883A.85.85,0,0,0,45.354,29.37ZM40.5,34.4a.854.854,0,0,0-.143.472v3.047l-2.9,2.9H34.408V31.47a.849.849,0,0,0-.849-.85H31.01v-5.1h7.121l2.314,4.628a.851.851,0,0,0,.76.47h1.811Z" />
         <path
            fill="currentColor"
            d="M45.947,22.125l-3.154-5.519a.849.849,0,0,0-.737-.428h-5.1a.85.85,0,0,0-.707.378L34.8,18.726H32.71V14.479h4.248a.847.847,0,0,0,.6-.249l3.149-3.149h3.9v-1.7H40.356a.848.848,0,0,0-.6.249l-3.149,3.149H31.861a.849.849,0,0,0-.85.849v5.947a.849.849,0,0,0,.85.85h3.4a.851.851,0,0,0,.707-.378l1.447-2.171h4.15L44.717,23.4a.849.849,0,0,0,.737.428h3.4v-1.7Z" />
         <path
            fill="currentColor"
            d="M25.064,30.621H20.318l-2.3-2.3a.847.847,0,0,0-.6-.249H13.17a.849.849,0,0,0-.85.85v5.947a.849.849,0,0,0,.85.85h3.4v8.5a.85.85,0,0,0,1.359.68l3.4-2.549a.851.851,0,0,0,.34-.68V39.524l3.929-3.142a.85.85,0,0,0,.319-.664V31.47A.85.85,0,0,0,25.064,30.621Zm-.85,4.69-3.929,3.143a.85.85,0,0,0-.319.663V41.24l-1.7,1.274V34.868a.849.849,0,0,0-.85-.85h-3.4V29.771h3.047l2.3,2.3a.847.847,0,0,0,.6.249h4.248Z" />
         <path
            fill="currentColor"
            d="M7.951,18.289,5.4,14.041a.848.848,0,0,0-.728-.412h-.85v1.7h.369l1.96,3.267-2.08,2.08a.847.847,0,0,0-.249.6v2.549H1.276v1.7h3.4a.85.85,0,0,0,.85-.85V21.627l2.3-2.3A.851.851,0,0,0,7.951,18.289Z" />
         <path
            fill="currentColor"
            d="M26.764.885V1.922l-2.755.689a.864.864,0,0,0-.265.117L21.605,4.154,16.949,1.825l-.76,1.52,5.1,2.549a.85.85,0,0,0,.85-.053l2.426-1.618,3.256-.814a.85.85,0,0,0,.644-.824V.885Z" />
      </g>
      <path
         class="c"
         d="M20.8,11.91l.488-1.628-8.5-2.549a.848.848,0,0,0-.845.213l-1.7,1.7a.85.85,0,0,0,.256,1.377l7.646,3.4.69-1.553-6.515-2.9.466-.466Z" />
      <path
         class="c"
         d="M28.692,6.85a.849.849,0,0,0-.85-.85h0a6.953,6.953,0,0,0-4.949,2.05l-7.2,7.2-2.932-.733a.85.85,0,0,0-.807.223l-1.7,1.7a.849.849,0,0,0,.163,1.329l4.066,2.44,2.44,4.066a.849.849,0,0,0,.624.406.827.827,0,0,0,.1.006.856.856,0,0,0,.6-.248l1.7-1.7a.852.852,0,0,0,.223-.807l-.732-2.928,7.319-7.247A7.009,7.009,0,0,0,28.692,6.85ZM17.9,18.139a.85.85,0,0,0-.227.81L18.4,21.88l-.59.59-1.989-3.315a.847.847,0,0,0-.291-.291L12.22,16.875l.59-.59,2.932.733a.85.85,0,0,0,.807-.223l7.544-7.544a5.255,5.255,0,0,1,2.832-1.474,5.239,5.239,0,0,1-1.381,2.793Z" />
      <path
         class="c"
         d="M26.956,22.01,24.408,13.4l-1.63.483,2.395,8.086-.516.455-2.833-6.571-1.561.673,3.3,7.646a.85.85,0,0,0,.595.493.873.873,0,0,0,.186.02.847.847,0,0,0,.562-.212l1.8-1.589A.85.85,0,0,0,26.956,22.01Z" />
      <path
         class="c"
         d="M45.354,29.37a.85.85,0,0,0-.749-.448H41.731l-2.314-4.628a.851.851,0,0,0-.76-.47h-8.5a.849.849,0,0,0-.85.85v6.8a.849.849,0,0,0,.85.849H32.71v9.345a.849.849,0,0,0,.85.85h4.248a.849.849,0,0,0,.6-.25l3.4-3.4a.846.846,0,0,0,.249-.6V35.125l3.256-4.883A.85.85,0,0,0,45.354,29.37ZM40.5,34.4a.854.854,0,0,0-.143.472v3.047l-2.9,2.9H34.408V31.47a.849.849,0,0,0-.849-.85H31.01v-5.1h7.121l2.314,4.628a.851.851,0,0,0,.76.47h1.811Z" />
   </svg>
</template>

<style>
.a {
   fill: #fff;
}
.b {
   clip-path: url(#a);
}
.c {
   fill: #ffb500;
}
</style>
