<p>KEVIN TEGUIA est un entrepreneur camerounais, très brave et talentueux vivant dans
  son pays natal. Travailleur, Kevin est également une personne rigoureuse et honnête qui
  a nourri le rêve de devenir un entrepreneur depuis son enfance.</p>
<p>Tout au long de son cursus scolaire, il a toujours été un élément remarquable qui attirait l’attention sur lui grâce
  à son
  travail félicitant ; il était tout simplement un génie. À l'âge de trois ans, il commence son cursus scolaire à
  l’école maternelle du centre dans la ville de Dschang. Il a ensuite effectué ses études à l’école primaire du centre
  au terme desquelles il fut admis au concours d’entrée en classe de sixième, au lycée bilingue de la même ville, avec
  un rang de premier. Brillant élève, qu’il était, Kevin clôture ses études secondaires étant classé 5e national à
  l’examen du Baccalauréat C, avec une moyenne supérieure à 17/20 en 2013. Comme le sang suit la veine, Kevin présenta
  le concours de la prestigieuse Ecole Nationale Supérieure Polytechnique de Yaoundé la même année. Il a été admis à ce
  dernier en occupant un rang de cinquième national. Au cours de ses études supérieures, Kevin se vit attribuer le petit
  nom de “Monsieur Cinquième” car il continuait de garder son rang de 5e dans toutes les classes. Il ressort de cette
  école en 2018, avec le titre d’ingénieur de conception informatique obtenu avec la mention “très bien”.</p>
<p>Au cours de ses études d’ingénieur, Kevin ne s’est pas privé de débuter sa carrière professionnelle à côté de ses
  stages
  académiques. Il a occupé de nombreuses fonctions dans plusieurs entreprises :</p>

<ul>
  <li>En 2016 il était à la fois directeur marketing centre de préparation aux concours nommé “Leaders Corporation” qui
    a connu du succès
  </li>
  <li>En 2017 il a occupé le poste de Directeur Général chez ASUS, une structure spécialisée dans le soutien scolaire et
    le coaching à domicile.
  </li>
  <li>En 2018, il effectue un stage académique chez TERATRONICS SARL parallèlement à son poste de Directeur général
    adjoint à Leader’s Corporation
  </li>
  <li>A la fin de l’année 2018, il travaille comme développeur web full stack chez ITS SERVICES SARL où il fut promu
    chef de pôle recherche et développement en moins d’un an de travail.
  </li>
  <li>Parallèlement à son poste de développeur chez ITS SERVICES SARL, il rejoint ses camarades de promotion pour fonder
    la structure UPGRADE GROUP SARL devenue Gohze en 2020.
  </li>
  <li>En juillet 2020, il démissionne de ITS pour concentrer toute son énergie au développement de Gohze, entreprise au
    sein de laquelle il occupe un poste de Business Developer/ Chef de projet.
  </li>
</ul>

<p>Son amour pour l’informatique est devenu une passion pour lui. En effet, Il est particulièrement intéressé par
  l'évolution des nouvelles technologies. Son quotidien à Gohze est de rechercher les nouvelles opportunités dans le but
  d’amener l’entreprise à aller de l’avant. Il s’occupe également de la gestion de projets et du renforcement des
  relations avec les clients. Outre cette passion pour l’informatique, il aime les séries d’animation, la rumba
  congolaise, la musique urbaine camerounaise, le sport (tennis), l'histoire et plus précisément celle de l’Afrique.
  Très attaché à sa famille, il aime par-dessus tout passer du temps avec sa fiancée et leurs deux vaillants
  garçons.</p>
