<p>Boris Martial Foading Fotso is a Cameroonian entrepreneur born in Baleng in the region
  from West Cameroon. He lived his childhood with his parents who instilled in him
  many values such as respect, humility, and passion for challenges, which has
  helped make him the hardworking person he is today.</p>
<p> He completed his primary studies at the public school annex group 5 of the former rural town hall of Bafoussam.
  Thereafter
  he completed his secondary studies in two establishments. First at the bilingual high school of Bafoussam rural kena
  (6th
  until 4th) then he joined the bilingual college Maak Paulo (2nd until Tle) where he obtained his baccalaureate in
  Physics and Mathematics in 2012. Passionate about mathematics and computer science, he integrates the same
  year and in turn the École Nationale Supérieure Polytechnique de Yaoundé (ENSPY) and the École Normale Supérieure de
  Yaoundé. From his career in these different schools, he became a teacher of Mathematics and later an Engineer of
  computer design. </p>
<p> During his engineering studies, he carried out several activities: </p>

<ul class = 'ml-2'>
  <li> From 2013 to 2014, he held a teaching position at <strong> Intelligentsia Corporation </strong>, and was promoted
    head of the center of the same structure in the city of Bafoussam in 2015.
  </li>
  <li> In 2015, he joined the company <strong> MEGASOFT </strong> where he did a 2-month academic internship on the
    securing personal data and web development.
  </li>
  <li> In 2016, he developed an application in java for personnel monitoring at <strong> HELIOS </strong> (Ministry of
    defense).
  </li>
  <li> Between July and September 2017, he worked on the implementation of an automatic KPI management system
    of the data-mobile network at <strong> ORANGE Cameroon </strong> as part of his academic internship.
  </li>
  <li> Between May and July 2017, he worked on an application for the evaluation and automation of
    creation of micro hydroelectric power stations,
  </li>
  <li> In 2018, he and his comrade set up the application <strong> YoMeVoici </strong>, allowing Cameroonians
    to easily find their lost CNIs,
  </li>
  <li> From March to September 2018, he did an end-of-training academic internship <strong> at the breweries of
    Cameroon </strong>. During this period he worked on the quality control automation module within
    industrial manufacturing processes of the SABC, the latter having to be integrated into an MES system (Manufactory
    Executive System) under development within the SABC.
  </li>
</ul>

<p> Strongly attracted by entrepreneurship and value creation, he decided to embark on the realization of his
  dream at the end of 2018; confirmed pragmatist, he made entrepreneurship his main daily activity by
  joining forces with two of its promoters to create the digital services company UPGRADE GROUPE, now GOHZE
  in 2019, where he currently holds the position of <strong> CTO (Chief Technical Officer) </strong>. </p>
<p> Today, Boris’s professional life is closely linked to GOHZE. He spends his days thinking, analyzing,
  design, organize, develop and monitor projects. In addition, he also takes care of skills development
  technical teams, seek partnerships and explore new technological trends in the market.
  A hard worker, Boris is an open-minded, humble and respectful person who also enjoys football,
  reading and classical music. <strong> For him, to do mathematics
    is a hobby !! </strong> </p>
