<template>
   <div class="section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-8 text-center">
               <h4 class="medium-text text-break">
                  <a
                     href="https://twitter.com/search?q=Let_s_move_to_the_next_step&src=typed_query"
                     target="_blank"
                     rel="noopener noreferrer"
                     style="text-decoration: none"
                     class="text-primary"
                     >#Lets_Move_To_The_Next_Step</a
                  >
               </h4>
               <slot>
                  <h3 class="text-secondary">
                     {{ $t("general.contact_section_title") }}
                  </h3>
                  <p
                     class="light-text"
                     v-html="$t('general.contact_section_description')"></p>
               </slot>
               <NuxtLink
                  :to="localePath('/contact')"
                  class="btn btn-primary px-4"
                  data-aos="fade-right"
                  v-t="'general.contact_us'">
               </NuxtLink>
            </div>
         </div>
      </div>
   </div>
</template>

<script setup>
const props = defineProps({
   text: {
      type: String,
      default: "Passez au digital maintenant pour le futur",
   },
});
</script>
