<script setup>
const socials = ref([
   {
      name: "facebook",
      link: "http://www.facebook.com/Gohzegroup",
   },
   {
      name: "linkedin",
      link: "https://linkedin.com/company/gohze",
   },
   {
      name: "twitter",
      link: "https://twitter.com/GohzeGroup",
   },
   {
      name: "instagram",
      link: "https://www.instagram.com/gohzegroup",
   },
]);
</script>

<template>
   <div>
      <a
         target="_blank"
         :href="social.link"
         v-for="social in socials"
         :key="social">
         <img :src="`/img/socials/${social.name}.png`" :alt="social.name" />
      </a>
   </div>
</template>

<style scoped lang="scss">
a {
   margin: 0 2px 10px 2px;

   > img {
      width: 40px;
   }
}
</style>
