<script setup></script>
<template>
   <svg
      width="123"
      height="123"
      viewBox="0 0 123 123"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <g clip-path="url(#clip0_2039_3)">
         <path
            fill="currentColor"
            d="M109.465 89.503C109.647 89.503 109.824 89.522 109.998 89.556C111.144 87.558 112.189 85.461 113.133 83.27C113.151 83.226 113.17 83.184 113.192 83.142C114.61 79.797 115.68 76.323 116.401 72.723C116.96 69.93 117.305 67.066 117.436 64.132H100.543C100.236 72.706 97.676 81.162 92.904 89.503H109.465ZM106.52 94.889H89.506C84.342 102.37 77.385 109.759 68.668 117.056C70.035 116.886 71.387 116.668 72.723 116.401C76.369 115.672 79.887 114.584 83.272 113.137L83.27 113.133C86.711 111.653 89.916 109.921 92.879 107.934C95.848 105.942 98.6 103.679 101.129 101.139L101.139 101.129C103.096 99.18 104.889 97.099 106.52 94.889ZM54.21 117.055C45.494 109.759 38.537 102.37 33.372 94.889H16.361C17.992 97.099 19.784 99.18 21.74 101.129L21.75 101.14C24.28 103.68 27.032 105.942 30 107.934C32.962 109.921 36.167 111.653 39.609 113.133C39.652 113.152 39.695 113.171 39.737 113.192C43.082 114.611 46.556 115.68 50.157 116.401C51.493 116.668 52.843 116.886 54.21 117.055ZM12.852 89.503H29.974C25.203 81.162 22.642 72.706 22.337 64.132H5.445C5.575 67.066 5.92 69.929 6.479 72.722C7.208 76.368 8.297 79.886 9.743 83.271L9.747 83.27C10.682 85.442 11.716 87.521 12.852 89.503ZM5.445 58.747H22.442C23.067 50.347 25.854 41.89 30.849 33.376H12.852C11.716 35.358 10.682 37.437 9.747 39.61C9.728 39.653 9.708 39.696 9.688 39.737C8.269 43.083 7.2 46.557 6.479 50.157C5.92 52.95 5.575 55.814 5.445 58.747ZM16.361 27.991H34.299C39.407 20.63 46.161 13.226 54.589 5.779C53.093 5.954 51.616 6.187 50.158 6.479C46.511 7.208 42.994 8.297 39.609 9.743L39.61 9.746C36.168 11.227 32.963 12.958 30.001 14.946C27.033 16.938 24.281 19.201 21.751 21.74L21.74 21.75C19.784 23.7 17.992 25.78 16.361 27.991ZM68.289 5.778C76.717 13.225 83.471 20.629 88.58 27.99H106.519C104.888 25.78 103.095 23.699 101.138 21.75L101.128 21.74C98.599 19.2 95.847 16.938 92.878 14.946C89.915 12.958 86.71 11.227 83.269 9.746C83.226 9.728 83.183 9.708 83.142 9.687C79.796 8.269 76.322 7.199 72.722 6.479C71.264 6.187 69.785 5.954 68.289 5.778ZM110.027 33.376H92.029C97.025 41.89 99.812 50.347 100.437 58.747H117.435C117.304 55.813 116.958 52.95 116.4 50.157C115.67 46.511 114.582 42.993 113.136 39.608L113.132 39.61C112.197 37.437 111.164 35.358 110.027 33.376ZM49.106 1.198C53.098 0.399 57.21 0 61.44 0C65.67 0 69.781 0.399 73.773 1.198C77.707 1.986 81.531 3.168 85.246 4.745C85.297 4.763 85.346 4.782 85.394 4.803C89.097 6.397 92.591 8.288 95.865 10.487C99.133 12.679 102.156 15.164 104.931 17.949C107.716 20.724 110.201 23.748 112.392 27.014C114.589 30.289 116.482 33.782 118.076 37.487L118.072 37.488L118.076 37.497C119.683 41.255 120.885 45.125 121.681 49.106C122.48 53.098 122.878 57.21 122.878 61.44C122.878 65.67 122.48 69.783 121.681 73.775C120.894 77.707 119.71 81.533 118.134 85.247C118.116 85.297 118.097 85.346 118.075 85.394C116.481 89.099 114.589 92.591 112.391 95.866C110.2 99.133 107.715 102.156 104.93 104.931C102.155 107.716 99.131 110.202 95.864 112.393C92.591 114.591 89.096 116.484 85.393 118.077L85.391 118.073L85.381 118.077C81.623 119.683 77.752 120.885 73.772 121.681C69.78 122.48 65.668 122.879 61.439 122.879C57.21 122.879 53.097 122.48 49.105 121.681C45.172 120.894 41.347 119.711 37.631 118.135C37.582 118.116 37.533 118.098 37.484 118.076C33.779 116.483 30.287 114.591 27.012 112.392C23.746 110.201 20.722 107.715 17.947 104.93C15.162 102.155 12.677 99.131 10.486 95.865C8.288 92.591 6.396 89.098 4.802 85.393L4.806 85.391L4.802 85.382C3.196 81.624 1.994 77.754 1.198 73.773C0.4 69.782 0 65.67 0 61.439C0 57.21 0.4 53.097 1.199 49.105C1.986 45.172 3.169 41.347 4.745 37.632C4.763 37.583 4.782 37.533 4.803 37.485C6.397 33.78 8.288 30.287 10.487 27.012C12.679 23.746 15.164 20.722 17.948 17.947C20.723 15.162 23.747 12.677 27.013 10.485C30.288 8.287 33.781 6.395 37.485 4.801L37.486 4.805L37.495 4.801C41.254 3.197 45.125 1.995 49.106 1.198ZM64.133 9.268V27.991H81.959C77.275 21.815 71.34 15.575 64.133 9.268ZM64.133 33.376V58.747H95.055C94.356 50.415 91.266 41.959 85.737 33.376H64.133ZM64.133 64.132V89.503H86.643C91.971 81.107 94.832 72.649 95.174 64.132H64.133ZM64.133 94.889V113.841C71.778 107.558 78.035 101.24 82.879 94.889H64.133ZM58.747 113.843V94.889H40C44.843 101.24 51.1 107.559 58.747 113.843ZM58.747 89.503V64.132H27.706C28.047 72.65 30.907 81.107 36.237 89.503H58.747ZM58.747 58.747V33.376H37.143C31.614 41.959 28.524 50.416 27.824 58.747H58.747ZM58.747 27.991V9.266C51.54 15.573 45.604 21.815 40.92 27.991H58.747Z" />
      </g>
      <defs>
         <clipPath id="clip0_2039_3">
            <rect width="122.879" height="122.879" fill="white" />
         </clipPath>
      </defs>
   </svg>
</template>
