<script setup></script>
<template>
   <svg
      width="128"
      height="105"
      viewBox="0 0 128 105"
      class="svg-toggle"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_2028_49)">
         <path
            fill="currentColor"
            d="M64 0C67.54 0 70.4 2.93262 70.4 6.5625V19.6875H94.4C102.36 19.6875 108.8 26.291 108.8 34.4531V90.2344C108.8 98.3965 102.36 105 94.4 105H33.6C25.64 105 19.2 98.3965 19.2 90.2344V34.4531C19.2 26.291 25.64 19.6875 33.6 19.6875H57.6V6.5625C57.6 2.93262 60.46 0 64 0ZM41.6 78.75C39.84 78.75 38.4 80.2266 38.4 82.0312C38.4 83.8359 39.84 85.3125 41.6 85.3125H48C49.76 85.3125 51.2 83.8359 51.2 82.0312C51.2 80.2266 49.76 78.75 48 78.75H41.6ZM60.8 78.75C59.04 78.75 57.6 80.2266 57.6 82.0312C57.6 83.8359 59.04 85.3125 60.8 85.3125H67.2C68.96 85.3125 70.4 83.8359 70.4 82.0312C70.4 80.2266 68.96 78.75 67.2 78.75H60.8ZM80 78.75C78.24 78.75 76.8 80.2266 76.8 82.0312C76.8 83.8359 78.24 85.3125 80 85.3125H86.4C88.16 85.3125 89.6 83.8359 89.6 82.0312C89.6 80.2266 88.16 78.75 86.4 78.75H80ZM52.8 52.5C52.8 50.3244 51.9571 48.2379 50.4569 46.6995C48.9566 45.1611 46.9217 44.2969 44.8 44.2969C42.6783 44.2969 40.6434 45.1611 39.1431 46.6995C37.6429 48.2379 36.8 50.3244 36.8 52.5C36.8 54.6756 37.6429 56.7621 39.1431 58.3005C40.6434 59.8389 42.6783 60.7031 44.8 60.7031C46.9217 60.7031 48.9566 59.8389 50.4569 58.3005C51.9571 56.7621 52.8 54.6756 52.8 52.5ZM83.2 60.7031C85.3217 60.7031 87.3566 59.8389 88.8569 58.3005C90.3571 56.7621 91.2 54.6756 91.2 52.5C91.2 50.3244 90.3571 48.2379 88.8569 46.6995C87.3566 45.1611 85.3217 44.2969 83.2 44.2969C81.0783 44.2969 79.0434 45.1611 77.5431 46.6995C76.0429 48.2379 75.2 50.3244 75.2 52.5C75.2 54.6756 76.0429 56.7621 77.5431 58.3005C79.0434 59.8389 81.0783 60.7031 83.2 60.7031ZM9.6 45.9375H12.8V85.3125H9.6C4.3 85.3125 0 80.9033 0 75.4688V55.7812C0 50.3467 4.3 45.9375 9.6 45.9375ZM118.4 45.9375C123.7 45.9375 128 50.3467 128 55.7812V75.4688C128 80.9033 123.7 85.3125 118.4 85.3125H115.2V45.9375H118.4Z" />
      </g>
      <defs>
         <clipPath id="clip0_2028_49">
            <rect width="128" height="105" fill="white" />
         </clipPath>
      </defs>
   </svg>
</template>
