<script setup></script>
<template>
   <svg
      width="128"
      height="120"
      viewBox="0 0 128 120"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M42 18.75C38.675 18.75 36 21.2578 36 24.375V95.625C36 97.5938 35.65 99.4922 34.975 101.25H110C113.325 101.25 116 98.7422 116 95.625V24.375C116 21.2578 113.325 18.75 110 18.75H42ZM18 112.5C8.05 112.5 0 104.953 0 95.625V26.25C0 23.1328 2.675 20.625 6 20.625C9.325 20.625 12 23.1328 12 26.25V95.625C12 98.7422 14.675 101.25 18 101.25C21.325 101.25 24 98.7422 24 95.625V24.375C24 15.0469 32.05 7.5 42 7.5H110C119.95 7.5 128 15.0469 128 24.375V95.625C128 104.953 119.95 112.5 110 112.5H18ZM44 31.875C44 28.7578 46.675 26.25 50 26.25H74C77.325 26.25 80 28.7578 80 31.875V50.625C80 53.7422 77.325 56.25 74 56.25H50C46.675 56.25 44 53.7422 44 50.625V31.875ZM94 26.25H102C105.325 26.25 108 28.7578 108 31.875C108 34.9922 105.325 37.5 102 37.5H94C90.675 37.5 88 34.9922 88 31.875C88 28.7578 90.675 26.25 94 26.25ZM94 45H102C105.325 45 108 47.5078 108 50.625C108 53.7422 105.325 56.25 102 56.25H94C90.675 56.25 88 53.7422 88 50.625C88 47.5078 90.675 45 94 45ZM50 63.75H102C105.325 63.75 108 66.2578 108 69.375C108 72.4922 105.325 75 102 75H50C46.675 75 44 72.4922 44 69.375C44 66.2578 46.675 63.75 50 63.75ZM50 82.5H102C105.325 82.5 108 85.0078 108 88.125C108 91.2422 105.325 93.75 102 93.75H50C46.675 93.75 44 91.2422 44 88.125C44 85.0078 46.675 82.5 50 82.5Z" />
   </svg>
</template>
