<script setup></script>
<template>
   <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 97.49 122.88"
      style="enable-background: new 0 0 97.49 122.88"
      xml:space="preserve"
      class="svg-toggle">
      <g>
         <path
            fill="currentColor"
            d="M2.46,0h92.57c0.68,0,1.3,0.29,1.75,0.75c0.44,0.46,0.71,1.09,0.71,1.78v117.81c0,0.69-0.27,1.33-0.71,1.78 c-0.45,0.46-1.06,0.75-1.75,0.75H2.46c-0.68,0-1.3-0.29-1.75-0.75C0.27,121.67,0,121.04,0,120.34V2.54c0-0.69,0.27-1.33,0.71-1.78 C1.16,0.29,1.78,0,2.46,0L2.46,0z M22.68,77.66H62.4c0.37,0,0.7,0.15,0.94,0.39l0.04,0.05c0.21,0.24,0.35,0.55,0.35,0.89v2.59 c0,0.36-0.15,0.7-0.39,0.94c-0.24,0.24-0.57,0.39-0.94,0.39H22.68c-0.37,0-0.7-0.15-0.94-0.39l-0.04-0.05 c-0.21-0.24-0.35-0.55-0.35-0.89v-2.59c0-0.37,0.15-0.7,0.39-0.94C21.99,77.81,22.32,77.66,22.68,77.66L22.68,77.66z M14.11,77.66 h3.3c0.36,0,0.69,0.15,0.94,0.39c0.24,0.24,0.39,0.58,0.39,0.94v2.59c0,0.36-0.15,0.7-0.39,0.94c-0.24,0.24-0.57,0.39-0.94,0.39 h-3.3c-0.36,0-0.7-0.15-0.94-0.39c-0.24-0.24-0.39-0.57-0.39-0.94v-2.59c0-0.37,0.15-0.7,0.39-0.94 C13.41,77.81,13.74,77.66,14.11,77.66L14.11,77.66z M14.67,99.74h69.41c0.54,0,1.02,0.25,1.37,0.65c0.32,0.37,0.53,0.88,0.53,1.44 v0.52c0,0.56-0.2,1.07-0.53,1.44l-0.04,0.04c-0.34,0.37-0.81,0.6-1.33,0.6H14.67c-0.54,0-1.02-0.25-1.37-0.65 c-0.33-0.37-0.53-0.88-0.53-1.44v-0.52c0-0.56,0.2-1.07,0.53-1.44l0.04-0.04C13.69,99.97,14.15,99.74,14.67,99.74L14.67,99.74z M14.67,88.62h69.41c0.54,0,1.02,0.25,1.37,0.65c0.32,0.37,0.53,0.88,0.53,1.44v0.52c0,0.56-0.2,1.07-0.53,1.44l-0.04,0.04 c-0.34,0.37-0.81,0.6-1.33,0.6H14.67c-0.54,0-1.02-0.25-1.37-0.65c-0.33-0.37-0.53-0.88-0.53-1.44v-0.52c0-0.56,0.2-1.07,0.53-1.44 l0.04-0.04C13.69,88.85,14.15,88.62,14.67,88.62L14.67,88.62z M69.83,56L58.39,45.02l-2.42,14.84c-0.04,0.29-0.13,0.58-0.27,0.84 c-0.14,0.26-0.33,0.5-0.57,0.7c-0.51,0.44-1.17,0.63-1.79,0.58c-0.63-0.05-1.24-0.34-1.68-0.86l-17.5-20.7L15.8,57.01v5.5h65.9 V43.39L70.83,55.91c-0.11,0.17-0.31,0.29-0.53,0.29C70.11,56.2,69.95,56.12,69.83,56L69.83,56z M70.25,49.54L81.7,35.81V17.4H15.8 v32.93c5.56-5.03,11.3-10.57,16.99-15.36c0.5-0.43,1.12-0.62,1.72-0.58c0.62,0.03,1.23,0.3,1.68,0.79l0.02,0.02 c0.03,0.03,0.06,0.06,0.08,0.09l15.64,18.51l2.32-14.27c0.12-0.65,0.49-1.2,0.99-1.56c0.5-0.36,1.14-0.54,1.8-0.44l0.07,0.01 c0.23,0.04,0.46,0.12,0.67,0.22c0.23,0.11,0.44,0.26,0.62,0.43L70.25,49.54L70.25,49.54z M58.48,18.17c0.97,0,1.91,0.2,2.77,0.55 c0.89,0.37,1.69,0.91,2.36,1.57c0.67,0.67,1.21,1.47,1.58,2.36c0.36,0.86,0.55,1.8,0.55,2.77c0,0.97-0.2,1.91-0.55,2.77 c-0.37,0.89-0.91,1.7-1.57,2.36c-0.67,0.67-1.47,1.21-2.36,1.57c-0.86,0.36-1.79,0.55-2.77,0.55c-0.97,0-1.91-0.2-2.77-0.55 c-0.89-0.37-1.69-0.91-2.36-1.57c-0.67-0.67-1.21-1.47-1.58-2.36c-0.36-0.86-0.55-1.79-0.55-2.77c0-0.97,0.2-1.91,0.55-2.77 c0.37-0.89,0.91-1.7,1.57-2.36c0.67-0.67,1.47-1.21,2.36-1.57C56.56,18.36,57.5,18.17,58.48,18.17L58.48,18.17z M60.66,23.26 c-0.29-0.29-0.63-0.52-1-0.68c-0.36-0.15-0.76-0.23-1.18-0.23c-0.42,0-0.81,0.08-1.18,0.23c-0.38,0.16-0.72,0.39-1.01,0.67 c-0.29,0.29-0.52,0.63-0.67,1c-0.15,0.36-0.23,0.76-0.23,1.18c0,0.41,0.08,0.81,0.23,1.18c0.16,0.38,0.39,0.72,0.67,1 c0.29,0.29,0.63,0.52,1,0.68c0.36,0.15,0.76,0.23,1.18,0.23c0.41,0,0.81-0.08,1.18-0.23c0.38-0.16,0.72-0.39,1-0.67 c0.29-0.29,0.52-0.63,0.68-1c0.15-0.36,0.23-0.76,0.23-1.18c0-0.41-0.08-0.81-0.23-1.18C61.18,23.88,60.94,23.54,60.66,23.26 L60.66,23.26z M13.41,12.48h70.67c0.66,0,1.26,0.28,1.69,0.73c0.43,0.44,0.69,1.06,0.69,1.73v50.03c0,0.67-0.26,1.28-0.69,1.73 c-0.43,0.45-1.03,0.73-1.69,0.73H13.41c-0.66,0-1.26-0.28-1.69-0.73c-0.43-0.44-0.69-1.06-0.69-1.73V14.94 c0-0.67,0.26-1.28,0.69-1.73C12.15,12.76,12.75,12.48,13.41,12.48L13.41,12.48z M92.57,5.07H4.92v112.74h87.65V5.07L92.57,5.07z" />
      </g>
   </svg>
</template>
