<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      shape-rendering="geometricPrecision"
      text-rendering="geometricPrecision"
      image-rendering="optimizeQuality"
      fill-rule="evenodd"
      clip-rule="evenodd"
      viewBox="0 0 512 450.09"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M13.97 37.61h60.92l-4.73-12.84H42.21c-1.26 0-2.28-1.02-2.28-2.28 0-.24.04-.46.1-.68l4.5-20.03C44.76.73 45.71.01 46.75.01L103.91 0c1.09 0 1.99.76 2.23 1.77l6.05 20.07c.36 1.2-.33 2.48-1.53 2.83-.22.07-.44.1-.65.1h-27.1l4.73 12.84h162.37V24.77h-27.9c-1.26 0-2.29-1.02-2.29-2.28 0-.24.04-.46.11-.68l4.49-20.03a2.283 2.283 0 0 1 2.22-1.77L283.8 0c1.08 0 1.99.76 2.23 1.77l6.05 20.07c.36 1.2-.33 2.48-1.54 2.83-.21.07-.43.1-.64.1h-27.91v12.84h162.37l4.73-12.84h-27.1l-.65-.1a2.28 2.28 0 0 1-1.53-2.83l6.05-20.07A2.295 2.295 0 0 1 408.09 0h57.17c1.04.01 1.98.73 2.22 1.78l4.49 20.03c.06.21.1.44.1.68 0 1.26-1.02 2.28-2.28 2.28h-27.95l-4.73 12.84h60.92c3.85 0 7.34 1.6 9.85 4.11 2.53 2.54 4.12 6.06 4.12 9.86V281.5c0 3.8-1.61 7.31-4.13 9.83-2.53 2.53-6.04 4.14-9.84 4.14h-73.98v132.18h14.45v22.44H330.66v-22.44h14.45V295.47H166.88v132.18h14.45v22.44H73.5v-22.44h14.45V295.47H13.97c-3.79 0-7.31-1.58-9.86-4.13-2.52-2.51-4.11-6-4.11-9.84V51.58c0-3.84 1.57-7.34 4.1-9.87 2.52-2.52 6.02-4.1 9.87-4.1zm356.02 358.3 40.33 31.74h2.79V395.9l-43.12.01zm22.66 31.74-36.59-28.8v28.8h36.59zm-22.66-80.98 43.12 33.94v-33.95l-43.12.01zm-13.93 38.3h44.91l-44.91-35.36v35.36zm11.43-89.5 45.62 35.91v-35.91h-45.62zm-11.43 40.26h44.91l-44.91-35.35v35.35zm-243.23 60.18 40.32 31.74h2.79V395.9l-43.11.01zm22.65 31.74-36.59-28.8v28.8h36.59zm-22.65-80.98 43.11 33.94v-33.95l-43.11.01zm-13.94 38.3h44.91l-44.91-35.36v35.36zm11.43-89.5 45.62 35.91v-35.91h-45.62zm-11.43 40.26h44.91l-44.91-35.35v35.35zM496.56 53.05H15.44v226.98h481.12V53.05z" />
   </svg>
</template>
