<script setup></script>
<template>
   <svg
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 111.66 122.88"
      class="svg-toggle">
      <title>comment-like</title>
      <path
         fill="currentColor"
         d="M38.19,0H82.32A13.26,13.26,0,0,1,95.59,13.28V39.85H91V13.15H29.49v4.5H24.91V13.26A13.25,13.25,0,0,1,38.19,0ZM13.57,40.75h3.56a.79.79,0,0,1,.8.79h0V52.1h0a.8.8,0,0,1-.8.8H13.57a.79.79,0,0,1-.79-.8h0V41.55h0a.79.79,0,0,1,.79-.79ZM12,67.93l7.55-7.25a1.51,1.51,0,0,1,1.05-.42H44.36A.86.86,0,0,0,45,60a.83.83,0,0,0,.25-.61V28.24a.87.87,0,0,0-.85-.86H3.89a.85.85,0,0,0-.6.26.86.86,0,0,0-.25.6V59.4a.89.89,0,0,0,.25.61.86.86,0,0,0,.6.25h6.59A1.52,1.52,0,0,1,12,61.78v6.15Zm9.2-4.64-9.59,9.2a1.52,1.52,0,0,1-2.65-1V63.29H3.89A3.91,3.91,0,0,1,0,59.4V28.24a3.91,3.91,0,0,1,3.89-3.89H44.36a3.91,3.91,0,0,1,3.89,3.89V59.4a3.89,3.89,0,0,1-3.89,3.89Zm2.48-30.46c.41-2.12,3.89-.17,4.12,3.25,0,.2,0,.4,0,.6a15.25,15.25,0,0,1-.31,3h5c2.06.09,3.86,1.56,2.59,4,.28,1.06.33,2.3-.46,2.79A4.11,4.11,0,0,1,33.36,50a4.16,4.16,0,0,1-.63,2.15c-.67.94-1.21.71-2.26.71H22.1a3.26,3.26,0,0,1-2.93-1.45V42.07c2.5-.67,3.83-4.09,4.51-6.34v-2.9ZM85.94,87.07l-9.59,9.19a1.48,1.48,0,0,1-1.13.51,1.52,1.52,0,0,1-1.52-1.52V87.07H68.63a3.93,3.93,0,0,1-3.89-3.89V53.34a3.93,3.93,0,0,1,3.89-3.89h39.14a3.89,3.89,0,0,1,3.89,3.89V83.18a3.91,3.91,0,0,1-3.89,3.89Zm-10.12-12a2,2,0,1,1,0-4h21a2,2,0,1,1,0,4Zm0-10.63a2,2,0,0,1,0-4h25.72a2,2,0,0,1,0,4Zm19.77,31V109.6a13.26,13.26,0,0,1-13.27,13.28H38.19A13.28,13.28,0,0,1,24.91,109.6V71.4h4.58v33H91v-9ZM60.24,108.6a5.46,5.46,0,1,1-5.46,5.45,5.44,5.44,0,0,1,5.46-5.45Z" />
   </svg>
</template>
