<p>
  Joseph TENTCHOU YONDIA est un jeune camerounais ayant suivi ses études au Collège Chevreul où il obtient son Bac D en
  2002, puis rejoint une école de formation nommée Higher Institute of Management pour avoir en trois ans son HND en
  Management and Computer science en 2005, puis poursuit sa formation à Higher School of Science and Technics pour être
  Engineers Degree en Computer Science and Automation en 2009 et fini son cycle d’étude a l’ESSEC de DOUALA où il
  obtient en juillet 2018 un Bachelor’s degree en Management Business Administration and Management General, et termine
  avec un Master en Business Administration – MBA Marketing d’octobre 2018 à juillet 2020.
</p>

<p>Passionné par le commerce et le marketing, il s’ouvre au monde des affaires en devenant programmeur chez ISMA où il
  fait 1 an de 2005 - 2006, pendant la même période, devient Consultant international de WoungJosCam International de
  janvier de2005 - décembre 2010 à Douala. Il eut en janvier 2011- janvier 2013 un partenariat avec la GUINESS Cameroun
  SA où il était le PARTENAIRE DU SYSTÈME D’INFORMATION COMMERCIALE il avait en quelque sorte une PERFORMANCE
  COMMERCIALE & PARCIS et était l’Analyste de données. Il mute en janvier 2013 – septembre 2013 comme étant Chef
  d’opération à la Sanaga Boissons Services partenaire de Diageo-Guiness Cameroun SA. Brillant dans le commerce, il
  devient DIRECTEUR COMMERCIAL Groupe E-A (Industrie de production et de commercialisation des jus de fruits Naturelles)
  de septembre 2013 – janvier 2014 à Douala. Le jeune camerounais n’hésite pas par la suite d’acquérir en expérience en
  étant RESPONSABLE DES DONNÉES COMMERCIALES de février 2014- février 2015 en Afrique Centrale et occidentale. Au nom de
  l’entreprise UNIPAL Afrique Central et de l’Ouest il fut en 1 an 6 mois RESPONSABLE STRATÉGIE et DÉVELOPPEMENT
  COMMERCIAL et en Afrique Centrale et Occidental de mars 2015 - juillet 2015. En 2016 il est Directeur des ventes et de
  marketing des LABORATOIRES GIGY PHARMA FMCG une usine de Cosmétiques d’avril 2016 - octobre 2018 deux ans sept mois
  expérience a l’adresse BP : 12669 Douala Zone Industrielle Bassa. Il eut l’honneur d’être le chef de DISTRIBUTION
  ALIMENTAIRE EN AFRIQUE de novembre 2018- janvier 2020. Il finit ce parcours brillant en étant Directeur Commercial
  Réseau a ADISCO Africa Distribution Company le FMCG de janvier 2020 jusqu’à nos jours.</p>

<p>
  Joseph TENTCHOU YONDIA est en résumé un professionnel accompli en gestion générale avec plus de 20 ans d'expérience
  professionnelle dans le développement des affaires, de la clientèle, les ventes, le marketing, la planification
  stratégique et de la gestion dans le pays.
</p>

<p>Large leadership et expertise opérationnelle.</p>
