<script setup></script>

<template>
   <svg
      width="72"
      height="123"
      viewBox="0 0 72 123"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M12.74 0H58.85C62.36 0 65.54 1.43 67.85 3.74C70.16 6.05 71.59 9.23 71.59 12.74V110.14C71.59 113.65 70.16 116.83 67.85 119.14C65.54 121.45 62.36 122.88 58.85 122.88H12.74C9.23 122.88 6.05 121.45 3.74 119.14C1.43 116.83 0 113.65 0 110.14V12.74C0 9.23 1.43 6.05 3.74 3.74C6.05 1.43 9.24 0 12.74 0ZM35.79 107.18C38.67 107.18 41.01 109.52 41.01 112.4C41.01 115.28 38.67 117.62 35.79 117.62C32.91 117.62 30.57 115.28 30.57 112.4C30.58 109.52 32.91 107.18 35.79 107.18ZM3.66 103.18H67.94V19.7H3.66V103.18Z" />
   </svg>
</template>
