<script setup></script>

<template>
   <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 107.45 122.88"
      style="enable-background: new 0 0 107.45 122.88"
      xml:space="preserve"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M55.59,102.9c1.79,0.46,3.39,1.39,4.66,2.66l0.01,0.01c0.13,0.13,0.26,0.26,0.38,0.4l26.84-16.62 c-0.21-0.81-0.32-1.66-0.32-2.54c0-2.79,1.14-5.33,2.97-7.16l0.01-0.01c1.23-1.23,2.78-2.15,4.51-2.62V45.48 c-2.08-0.37-3.94-1.38-5.38-2.81l-0.01-0.01l-0.01,0.01c-0.2-0.2-0.4-0.41-0.58-0.63L62.36,57.72c0.44,1.12,0.68,2.33,0.68,3.6 c0,2.75-1.11,5.23-2.92,7.04c-1.23,1.23-2.79,2.15-4.53,2.6V102.9L55.59,102.9z M53.08,54.55c3.74,0,6.78,3.04,6.78,6.78 s-3.04,6.78-6.78,6.78s-6.78-3.04-6.78-6.78S49.34,54.55,53.08,54.55L53.08,54.55z M62.87,110.02c0.24,0.86,0.37,1.77,0.37,2.71 c0,2.8-1.14,5.34-2.97,7.17s-4.37,2.97-7.17,2.97c-2.79,0-5.33-1.14-7.16-2.97l-0.01-0.01l-0.01,0.01 c-1.84-1.84-2.97-4.37-2.97-7.17c0-1,0.15-1.96,0.42-2.87L17.52,93.83c-0.06,0.07-0.13,0.13-0.19,0.2 C15.48,95.86,12.95,97,10.15,97c-2.79,0-5.33-1.14-7.16-2.97l-0.01-0.01l-0.01,0.01C1.14,92.19,0,89.66,0,86.85 c0-2.79,1.14-5.33,2.97-7.16l0.01-0.01c1.02-1.02,2.27-1.83,3.65-2.34V45.01c-1.38-0.51-2.62-1.32-3.65-2.34l-0.01-0.01l-0.01,0.01 C1.14,40.83,0,38.3,0,35.49c0-2.79,1.14-5.33,2.97-7.16l0.01-0.01c1.84-1.84,4.37-2.97,7.16-2.97c2.38,0,4.58,0.83,6.31,2.21 L43.29,12.8c-0.23-0.85-0.35-1.74-0.35-2.65c0-2.79,1.14-5.33,2.97-7.16l0.01-0.01C47.76,1.14,50.29,0,53.09,0 c2.79,0,5.33,1.14,7.16,2.97l0.01,0.01c1.84,1.84,2.97,4.37,2.97,7.16c0,0.96-0.13,1.89-0.38,2.77l26.88,14.97 c1.79-1.58,4.13-2.54,6.7-2.54c2.79,0,5.33,1.14,7.16,2.97l0.01,0.01c1.84,1.84,2.97,4.37,2.97,7.16c0,2.8-1.14,5.34-2.97,7.17 c-1.13,1.13-2.52,1.99-4.07,2.49v31.76c1.9,0.43,3.59,1.39,4.92,2.72l0.01,0.01c1.84,1.84,2.97,4.37,2.97,7.16 c0,2.8-1.14,5.34-2.97,7.17s-4.37,2.97-7.17,2.97c-2.79,0-5.33-1.14-7.16-2.97l-0.01-0.01l-0.01,0.01 c-0.11-0.11-0.21-0.21-0.31-0.33L62.87,110.02L62.87,110.02z M45.65,105.85c0.09-0.09,0.18-0.19,0.27-0.28l0.01-0.01 c1.3-1.3,2.95-2.25,4.79-2.69V70.99c-1.79-0.44-3.39-1.37-4.65-2.63l-0.01-0.01l-0.01,0.01c-1.8-1.8-2.92-4.29-2.92-7.04 c0-1.33,0.26-2.59,0.73-3.75L18.04,41.87c-0.23,0.28-0.47,0.55-0.72,0.8c-1.53,1.53-3.55,2.58-5.81,2.88V76.8 c2.25,0.3,4.26,1.35,5.8,2.88l0.01,0.01c1.84,1.84,2.97,4.37,2.97,7.16c0,0.95-0.13,1.86-0.37,2.73L45.65,105.85L45.65,105.85z M46.28,11.32c0.02,0.1,0.04,0.2,0.06,0.29l0.01,0.03l0.03,0.12l0.01,0.02c0.02,0.1,0.05,0.19,0.08,0.29l0.02,0.07l0.02,0.07 l0.02,0.07l0.04,0.13l0.01,0.02l0.03,0.07l0.03,0.07l0.03,0.07l0.03,0.07l0.03,0.07l0.03,0.07v0l0.03,0.07l0.05,0.12l0.02,0.03 l0.03,0.06l0.03,0.07l0.03,0.07l0,0l0.03,0.06l0.04,0.07l0.03,0.05l0.01,0.02l0.04,0.07l0,0l0.04,0.06l0.04,0.06l0.03,0.04 l0.01,0.02l0.06,0.09l0.03,0.05l0.06,0.08l0.04,0.06l0.02,0.03l0.04,0.06l0.01,0.02l0.01,0.01l0.08,0.1l0.04,0.05l0,0l0.05,0.06 l0.01,0.01l0.04,0.05l0.05,0.06l0,0.01l0.04,0.05l0.05,0.06l0.05,0.06l0,0l0.01,0.01l0.08,0.09l0.01,0.02l0.01,0.01l0.09,0.1 l0.01,0.01l0.1,0.11l0,0l0.02,0.02l0.1,0.1l0,0l0.01,0.01l0.11,0.1l0.01,0l0,0l0.1,0.09l0,0c1.21,1.06,2.8,1.7,4.54,1.7 c1.69,0,3.24-0.61,4.44-1.61l0.06-0.05l0.05-0.05l0,0l0.06-0.05l0.04-0.03l0.02-0.02l0.09-0.08l0.01-0.01l0.01-0.01l0.08-0.08 L58,15l0.08-0.08l0,0l0.01-0.01l0.04-0.04l0.05-0.06l0,0l0.04-0.04l0.01-0.01l0.05-0.06l0,0l0.05-0.06l0.05-0.06l0.09-0.11l0,0 c0.06-0.07,0.12-0.15,0.17-0.22l0.01-0.01l0.04-0.06v0l0.04-0.06l0.04-0.06l0,0l0.04-0.06l0.04-0.06l0.04-0.06l0.04-0.06l0.01-0.02 l0.06-0.1l0.01-0.01l0.07-0.12l0-0.01l0.04-0.07l0.03-0.06l0.01-0.01l0.04-0.07l0.04-0.07l0.03-0.07v0l0.03-0.07l0.03-0.07 l0.06-0.14l0.06-0.13l0.01-0.02l0.05-0.13l0.03-0.07l0.03-0.07l0.03-0.07l0.03-0.07l0.02-0.07l0-0.01 c0.03-0.09,0.06-0.19,0.08-0.29l0,0l0.02-0.08l0.02-0.07v0l0.02-0.08l0.02-0.07l0,0l0.02-0.08c0.02-0.1,0.04-0.2,0.06-0.3 c0.06-0.37,0.09-0.75,0.09-1.14c0-3.81-3.09-6.91-6.91-6.91s-6.91,3.09-6.91,6.91c0,0.35,0.03,0.69,0.08,1.02l0.01,0.08 L46.28,11.32L46.28,11.32z M45.66,17.05L19.77,32.28c0.34,1.01,0.52,2.09,0.52,3.21c0,0.57-0.05,1.12-0.14,1.67L46.83,53.6 c1.71-1.39,3.89-2.23,6.26-2.23c2.43,0,4.65,0.88,6.38,2.33l27-16.3c-0.12-0.62-0.18-1.26-0.18-1.91c0-0.94,0.13-1.85,0.37-2.71 L60.42,17.16c-0.05,0.05-0.1,0.11-0.15,0.16c-1.84,1.84-4.37,2.97-7.17,2.97c-2.79,0-5.33-1.14-7.16-2.97l-0.01-0.01l-0.01,0.01 C45.83,17.23,45.74,17.14,45.66,17.05L45.66,17.05z M6.63,41.44v-0.03c0.72,0.43,1.52,0.74,2.37,0.89 c0.37,0.06,0.75,0.09,1.14,0.09c3.81,0,6.91-3.09,6.91-6.91s-3.09-6.91-6.91-6.91c-3.81,0-6.91,3.09-6.91,6.91 C3.24,38.03,4.6,40.24,6.63,41.44L6.63,41.44z M14.68,92.07l-0.06-0.03c0.61-0.51,1.15-1.13,1.57-1.86c0.1-0.18,0.2-0.37,0.29-0.55 c0.37-0.85,0.58-1.78,0.58-2.76c0-3.82-3.09-6.91-6.91-6.91c-3.81,0-6.91,3.09-6.91,6.91c0,3.81,3.09,6.91,6.91,6.91 C11.88,93.76,13.46,93.12,14.68,92.07L14.68,92.07z M59.9,11.28l0-0.01l2.95,1.64L59.9,11.28L59.9,11.28z M92.82,29.61L92.82,29.61 c-0.56,0.35-1.07,0.77-1.51,1.26l-0.06,0.07l0,0L91.19,31l-0.01,0.01l-0.06,0.07l-0.02,0.02l-0.01,0.02L91,31.23l0,0 c-0.92,1.17-1.47,2.66-1.47,4.26c0,3.81,3.09,6.91,6.91,6.91c3.82,0,6.91-3.09,6.91-6.91s-3.09-6.91-6.91-6.91 C95.11,28.59,93.87,28.96,92.82,29.61L92.82,29.61z M97.3,79.9c3.82,0,6.91,3.09,6.91,6.91s-3.09,6.91-6.91,6.91 c-3.81,0-6.91-3.09-6.91-6.91S93.49,79.9,97.3,79.9L97.3,79.9z M53.09,105.83c3.81,0,6.91,3.09,6.91,6.91 c0,3.82-3.09,6.91-6.91,6.91s-6.91-3.09-6.91-6.91C46.18,108.92,49.27,105.83,53.09,105.83L53.09,105.83z" />
   </svg>
</template>
