<script setup></script>
<template>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 113.17 122.88"
    height="30px"
    width="30px"
    class="yellow-icon-color"
  >
    <title>mail-symbol</title>
    <path
      fill="currentColor"
      d="M3.49,44.07,57.54,0l51.73,44.07Zm47.68,15a3,3,0,0,1,0-6.08h8.41a3,3,0,0,1,0,6.08Zm24,0a3,3,0,0,1,0-6.08H87.24a3,3,0,0,1,0,6.08Zm-49.6,0a3,3,0,0,1,0-6.08H37.64a3,3,0,0,1,0,6.08ZM49.2,74.52a3,3,0,1,1,0-6.08H63.57a3,3,0,0,1,0,6.08ZM0,118.23l38.5-38.6L0,48.24v70ZM42.74,83.09,3.05,122.88H109.79L71.86,83.09,59.35,93.75h0a2.72,2.72,0,0,1-3.48,0L42.74,83.09ZM76,79.56l37.16,39V47.9L76,79.56Z"
    />
  </svg>
</template>
<style scoped>
    .yellow-icon-color {
        color: #ffb500;
    }
</style>