<script setup>
const props = defineProps({ project: Object });
// console.log(project.name)
</script>

<template>
   <div
      class="plateforme"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-offset="10">
      <img :src="project.image" alt="" />
      <div class="overlay">
         <div class="medium-text p-3" style="position: absolute; bottom: 0">
            <span style="font-size: 20px; color: white">{{
               project.name
            }}</span>
            <br />
            <span
               class="project-link"
               v-if="project?.images?.length"
               @click.stop="$emit('show-gallery', project)"
               :title="$t('portfolio.project_gallery')">
               <PortfolioGalleryIcon />
            </span>
            <span
               class="project-link"
               v-if="project.description && project.description[$i18n.locale]"
               @click.stop="$emit('show-description', project)"
               :title="$t('portfolio.project_description')"
               data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
               <PortfolioInfoIcon />
            </span>
         </div>
      </div>
   </div>
</template>

<style lang="scss" scoped>
.project-link {
   cursor: pointer;
   color: lighten($primary, 20);
   margin-right: 10px;

   svg {
      width: 25px;
   }

   &:hover {
      color: $primary;
   }
}

.plateforme {
   margin: 0;
   padding: 0;
   height: 280px;
   border: 1px solid transparent;
   position: relative;

   img {
      width: 100%;
      height: 100%;
   }

   .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(#000, 0.5);
      transition: all 0.45s cubic-bezier(0.18, 0.9, 0.54, 0.99);
      opacity: 0;
      @media all and (max-width: 1023px) {
         // opacity: 1;
      }
   }

   &:hover .overlay {
      opacity: 1;
   }
}
</style>
